[2019-02-04 07:34] jewel998 opened #2 "Database details"
Database details are provided as of your system, and plus, I believe, if we added a timestamp for statements in the dataset or the database, we could have precedence and detail about what has been occurred recently and it could give a much more precise answer.

[2019-05-22 03:51] Sapython opened #3 "featuresDump.csv is empty."
The CSV file present in the analysis folder is empty and the pandas cannot parse with it I get this error when running chatbot app

Traceback (most recent call last):
  File "E:\MapBot-master\MapBotChatBot\chatbot.py", line 9, in <module>
    clf = classify_model()
  File "E:\MapBot-master\MapBotChatBot\utilities.py", line 20, in classify_model
    df = pd.read_csv(filepath_or_buffer = FNAME, )

[2019-08-07 05:32] NAVYAREDDY29 opened #4 "Improper Classification"
The classification of the sentence is not accurate. Even if i ask the question it is being classified as 'C'. get response functions also have errors.

[2019-11-01 05:19] #4 closed

[2020-01-18 17:07] vishakha-lall commented on #3
The .csv file is to be constructed manually based on the number of statements you can add and label.

[2020-01-18 17:07] #3 closed

[2020-02-20 14:45] #2 closed

[2020-02-25 08:32] vishakha-lall opened #11 "Creating a dummy issue to demonstrate procedure for contributing in GSSoC"
Description of the requirement

[2020-02-25 08:35] vishakha-lall commented on #11
Participant
- I'm not sure about this aspect (ask for clarifications)
- Here's how I want to approach this task (description of resolution)
<tag a mentor/project admin> Please review and assign this task to me.

[2020-02-25 08:38] vishakha-lall commented on #11
Mentor/Project Admin
- This looks like the right way to proceed, make sure you take care of this (reviews the approach and gives feedback)
- Assign the issue to the participant

[2020-02-25 08:41] vishakha-lall commented on #11
Participant
- Starts working on the task
- Ask for any clarifications that might arise <tag a mentor/project admin>

[2020-02-25 08:57] #11 closed

[2020-02-25 13:50] vishakha-lall opened #13 "Containerization of the app using docker-compose"
#### Requirement
The app installation must be simplified and the app should be up with a single `docker-compose up` command.
#### Pre-requisite
- Some knowledge of containerization would be essential (preferably in docker, docker-compose or Kubernetes)
- Docker installed on the local machine. [Instructions](https://docs.docker.com/install/)
#### Dependencies
None
#### Description
- This task requi

[2020-02-25 14:02] vishakha-lall opened #14 "Persist database and application volume in containerised application"
#### Requirement
The database must be persisted in local using volume mounting, the application volume must be mounted to allow changes in code to be reflected in the container without re-building images
#### Pre-requisite
- Some knowledge of containerization would be essential (preferably in docker, docker-compose or kubernetes)
- Docker installed on the local machine. [Instructions](https://docs

[2020-02-25 14:50] vishakha-lall opened #15 "Depreciate connections to database to store origin and destination before making API call"
#### Requirement
Remove any instances of database connection related to API calling, not affect database setup for NLP, replace with dictionary.
#### Pre-requisite
- Elementary knowledge of Python and MySQL
#### Dependencies
None
#### Description
- Currently, the `chatbot.py` file has references to `add_to_maps_database` and `get_from_maps_database`. These references must be removed along with the

[2020-02-25 16:45] vishakha-lall opened #16 "Refactor redundant code in googleMapsApiModule.py"
#### Requirement
The code in googleMapsApiModule.py has several redundancies which must be avoided.
#### Pre-requisite
- Elementary understanding of Python
#### Dependencies
None
#### Description
- Address repetitive declaration of variable `gmaps`
- Create a global dictionary `urls`. For example `urls['direction'] = "https://www.google.com/maps/dir/?api=1&"`

[2020-02-25 16:52] vishakha-lall opened #17 "Create a basic chatbot UI to replace init.py"
#### Requirement
Add a simple and minimalistic UI to the codebase to replace init.py for testing and debugging.
#### Pre-requisite
- Any UI tech stack
#### Dependencies
None
#### Description
- The UI should be capable to take user input and display bot output in a 'chat window' like interface.
- The UI should correctly setup files on startup and establish connection with the application code.
- Mi

[2020-02-25 17:05] vishakha-lall opened #18 "Add method to googleMapsApiModule.py for PlaceSearchAPI"
#### Requirement
Add a method in googleMapsApiModule.py to call the PlacesAPI
#### Pre-requisite
- Understanding of Python
- Some understanding of the [PlacesAPI](https://developers.google.com/places/web-service/search)
#### Dependencies
None
#### Description
- The method should have appropriate arguments based on the function that the API does (Check out methods for `direction` and `geocoding` wh

[2020-02-25 17:07] vishakha-lall opened #19 "Add method to googleMapsApiModule.py for TimeZoneAPI"
#### Requirement
Add a method in googleMapsApiModule.py to call the TimeZoneAPI
#### Pre-requisite
- Understanding of Python
- Some understanding of the [TimeZoneAPI](https://developers.google.com/maps/documentation/timezone/start)
#### Dependencies
None
#### Description
- The method should have appropriate arguments based on the function that the API does (Check out methods for `direction` and `g

[2020-02-25 17:10] vishakha-lall opened #20 "Add method to googleMapsApiModule.py for ElevationAPI"
#### Requirement
Add a method in googleMapsApiModule.py to call the ElevationAPI
#### Pre-requisite
- Understanding of Python
- Some understanding of the [ElevationAPI](https://developers.google.com/maps/documentation/elevation/intro)
#### Dependencies
None
#### Description
- The method should have appropriate arguments based on the function that the API does (Check out methods for `direction` and

[2020-02-25 17:21] vishakha-lall opened #21 "Add method to googleMapsApiModule.py for StaticMapsAPI"
#### Requirement
Add a method in googleMapsApiModule.py to call the StaticMapsAPI
#### Pre-requisite
- Understanding of Python
- Some understanding of the [StaticMapsAPI](https://developers.google.com/maps/documentation/maps-static/dev-guide)
#### Dependencies
None
#### Description
- The method should have appropriate arguments based on the function that the API does (Check out methods for `direct

[2020-02-25 17:35] chttrjeankr commented on #15
I'm confused as to why this needs to be done. I get this idea that storing origin and destination in dictionaries would be a kind of temporary storage, so wouldn't it be better to keep updating the database with every input the user gives?

[2020-02-26 04:04] vishakha-lall commented on #15
The current implementation makes improper use of the database, it is being used as a temporary storage where the most recent value of origin is extracted from the database. A dictionary would suffice this use case.
As of now, there's no requirement to store every request made to the API, one use case could be caching results, which is possible to be implemented in more interesting ways.

[2020-02-26 09:50] vishakha-lall opened #22 "Create symbolic names for learn_response"
#### Requirement
Replace the numeric value of learn_response with meaningful symbolic names
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- The value of learn_response must be changed in all occurrences throughout the project (possibly use Enumerated data type).
- Symbolic value must correspond to the what the bot does after receiving the response

[2020-02-27 17:07] chttrjeankr commented on #13
I'd be willing to take up this issue and work on containerizing the code using Docker. I have some prior knowledge of running docker containers and feel working on this would give me a chance to learn more by doing.

I feel #14 would be solved in the same PR that I use for this issue. Could you help me with what to do in this case? Would it be appropriate if I mentioned both issues in the PR?

[2020-02-27 17:24] vishakha-lall commented on #13
Great stuff! Why don't you explore docker-compose? And essentially it's the same with the differences of orchestration. It would be an easier set up. #14 is undoubtedly related and could be the same PR but I'd suggest against it for the sole reason of the scoring guidelines. Nevertheless, it is dependent on the completion of this issue and you could take it up as soon as you've completed developme

[2020-02-27 18:40] chttrjeankr commented on #13
Thanks for the PR suggestion. 😁 It'd be great if you could assign this issue to me. I have already started exploring docker-compose and feel confident enough to solve this issue.

[2020-02-28 03:27] vishakha-lall commented on #13
Go ahead, make sure you track your progress. Keep us updated in case of blockers. You can tag me for any clarifications. Happy coding!

[2020-02-28 08:45] adityabisoi opened #23 "Error during setup"
After installing all the required packages, running ```python init.py``` gives the error :

[code]

[2020-02-28 13:52] vishakha-lall commented on #23
The error clearly mentions that it cannot find the file analysis\\featuresDump.csv. Did you check that? Which OS are you using?

[2020-02-28 13:55] vishakha-lall commented on #23
Please share your error with the community, it will be solved. Closing the issue here.

[2020-02-28 13:55] #23 closed

[2020-02-28 16:09] vishakha-lall opened #24 "Create a method to clear database"
#### Requirement
A method to clear all values in the database
#### Pre-requisite
- Elementary knowledge of Python and mySQL
#### Dependencies
None
#### Description
- Create new methods in `databaseconnect.py` to clear existing data.
- The method should be OOP oriented and have the capability to take the table name as an argument.
- Before clearing the data, the user should be prompted with the exi

[2020-02-28 16:16] vishakha-lall opened #25 "Complete the documentation for containerised project"
#### Requirement
A simple and clear documentation of instructions to run the dockerised project
#### Pre-requisite
- Some knowledge of containerization would be essential (preferably in docker, docker-compose or kubernetes)
- Docker installed on the local machine. [Instructions](https://docs.docker.com/install/)
#### Dependencies
Can be picked only after completion of #13 and #14
#### Description

[2020-02-28 16:25] Nandini9634 commented on #22
I want to work on this issue for GSSOC 2020. Kindly assign me this issue.

[2020-02-28 16:28] vishakha-lall opened #26 "Extract database related methods from utilities.py"
#### Requirement
Create a new script `databaseconnect.py` and migrate the methods related to fetching from or storing to database to it
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- Utilities.py is cluttered with methods related to NLP and database connections, it is necessary to organise this.
- Remove the database related methods from `utilities.py

[2020-02-28 16:36] vishakha-lall opened #27 "Improve init.py to have a more organised structure and functionality"
#### Requirement
The `init.py` is a testing script to see the bot in action, but the current code is very rudimentary, it needs to be improved
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
The procedure is left open-ended for participants to suggest their approach. (Marking the label as hard to account for the unknowns)

[2020-02-28 16:50] vishakha-lall commented on #22
@Nandini9634 sure! Make sure you name the symbols correctly (based on what the bot does corresponding to the learn_response variable).

[2020-02-28 17:51] chttrjeankr commented on #27
I noticed this too when I went through the project and set it up. I already changed some minor code in `init.py` to provide more functionality. If possible, I'd like to be assigned this issue to work on.

Since this issue is about something that requires subjective opinions on what is a "more organized" structure, I'd say my approach is to make it better commit by commit based on feedback from eve

[2020-02-28 17:53] vishakha-lall opened #28 "Uniform path referencing that is compatible with all OS"
#### Requirement
Use `pathlib` to deal with all file paths (from config or in code) so that the code is OS agnostic
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- Use `pathlib` in all instances of referencing files throughout the project.

[2020-02-28 18:03] vishakha-lall opened #29 "Implement logging throughout the project"
#### Requirement
Use the default Python `logging` library to implement logging capability throughout the project
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- Replace print statements (even the ones in comments) to DEBUG logs and add the capability to set the logging level to DEBUG when trying to debug the code.
- Also, add DEBUG logs for every metho

[2020-02-28 18:06] vishakha-lall commented on #27
I like the idea of incremental changes @chttrjeankr, however it would be advisable to work on one issue at a time. Since you are already assigned to #13, let us keep this in backlog to be picked when you have merged your PR for it.
If you feel you want to take this up first, I am okay with that too, in which case we would assign this to you and once you complete it, we can take the other issue up.

[2020-02-28 18:22] chttrjeankr commented on #27
I believe containerization is really needed for the project right now and since I'm already assigned to #13, it'd be better to complete that first and only then deal with this issue. :smile:

[2020-02-28 19:38] 0xd4n10 commented on #26
I'd like to solve this and have sent a pull request 🙂

[2020-02-28 22:37] gabbyprecious commented on #26
Hello, I'm a GSoc student, I would like to work on this

[2020-02-28 22:38] gabbyprecious commented on #28
Hello, Is anyone working on this, can I work on it? I'm a GSoc student

[2020-02-29 01:58] Nandini9634 commented on #22
Sure ma'am.

[2020-02-29 02:56] janakrajchadha commented on #26
@gabbyprecious While @danlove99 has already worked on the better part of this issue, I suggest you head over to his PR #30, take a look and discuss any suggestions/alternatives to the approach. While this issue will be claimed by Dan, I'd encourage collaborating on as many issues as possible. :)

[2020-02-29 03:01] vishakha-lall commented on #28
@gabbyprecious go ahead, I have assigned this to you. Make sure you track your progress here and let us know if you face any blockers! 😃

[2020-02-29 07:10] chttrjeankr commented on #13
Progress & Blockers:

I've been trying to write up the `docker-compose.yml` and I believe it's correct. Only, it's not. And it keeps showing me this error.
[code]
I tried multiple things and believe it's something silly I missed out on. Any leads to what it might be? @vishakha-lall @janakrajchadha

I think the issue is:

- Database isn't created when the Python program tries to connect to it.

Can

[2020-02-29 07:34] myselfanuj commented on #24
I would like to work on it please assign this to me @vishakha-lall. I already checked all files and code and know how to work.

[2020-02-29 07:45] vishakha-lall commented on #13
@chttrjeankr have you created the database service as one of the container services defined in the docker-compose.yml file?
Some things you might want to check
1. Now that the mySQL server is on the docker network, you might have to access it using the service name (that you have defined in the docker-compose file) instead of localhost
2. If you're referring to localhost, you might have to expose

[2020-02-29 07:47] vishakha-lall commented on #24
Very well, go ahead! Keep us posted with updates.

[2020-02-29 07:48] snehhap commented on #16
@vishakha-lall is this issue still available? Can I claim it?

[2020-02-29 08:52] vishakha-lall commented on #16
Go ahead @SnehhaPadmanabhan! Let me know if you face any blockers.

[2020-02-29 08:59] adityabisoi commented on #16
@vishakha-lall I want to work on this issue.

[2020-02-29 09:07] adityabisoi commented on #19
@vishakha-lall I want to work on this.

[2020-02-29 09:08] adityabisoi commented on #21
@vishakha-lall I want to work on this.

[2020-02-29 11:35] vishakha-lall commented on #21
Go ahead, track your progress here and let us know if you face any blockers.

[2020-02-29 11:55] vishakha-lall commented on #19
It is recommended to work on 1 issue at a time, once we merge the PR of the first one, you can take this up

[2020-02-29 14:09] radhikasethi2011 commented on #16
Hi! could I work on this?

[2020-02-29 14:23] chttrjeankr commented on #13
Thanks @vishakha-lall. Your inputs really helped!!

I'm pruning and debugging other minor issues and will create a PR soon, once the GSSoC period begins. Cheers! :+1:

[2020-02-29 14:39] vishakha-lall commented on #16
@radhikasethi2011, this issue is already claimed as of now. Do you think you can pick something out else?

[2020-02-29 18:07] sagnik-chatterjee commented on #29
If this is not assigned , can i take this up ??

[2020-02-29 19:32] chttrjeankr commented on #13
Facing a blocker with taking input from the terminal when I try to ensure the following condition of the issue:

Is `docker-compose up` really supposed to start the script? :confounded: @vishakha-lall

[2020-03-01 02:40] vishakha-lall commented on #13
What kind of error are you facing @chttrjeankr ?
Well since `docker-compose up` is supposed to start the interactive part of the application, `init.py` should be the one till we have a UI.

[2020-03-01 03:42] vishakha-lall opened #31 "Refactor module imports in all scripts"
#### Requirement
Fix multiple method imports from discussed [here](https://github.com/vishakha-lall/MapBot/pull/30#discussion_r385994772), reproduce to all scripts
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- Scripts have many methods being imported from the same module, replace this with importing the module and change references in the code
Before

[2020-03-01 04:22] radhikasethi2011 commented on #31
Can I please work on this issue? :D

[2020-03-01 04:52] vishakha-lall commented on #31
Go ahead @radhikasethi2011, track your progress here and let us know if you face any blockers.

[2020-03-01 05:09] chttrjeankr commented on #13
@vishakha-lall
The verbatim error message is
[code]
at the line where the user is supposed to provide input to the program.

`docker ` has `-it` but for `docker-compose` the lead I could find is [this](https://github.com/docker/compose/issues/3081#issuecomment-193428350) or to make

[code]
but this causes a non-responsive terminal, to which `^C` seems the only solution. :confounded:

[2020-03-01 05:33] Pihu1998 commented on #31
Hey @vishakha-lall , this issue seems great for me but i guess this has been assigned already. Can I still work on this issue and help @radhikasethi2011 ?

[2020-03-01 05:34] Pihu1998 commented on #29
Can I be assigned this issue?

[2020-03-01 05:40] AishwaryaVarma commented on #24
i would like to work on this, please assign this task to me

[2020-03-01 05:41] AishwaryaVarma commented on #22
i want to work on this, please lot this to me

[2020-03-01 05:43] AishwaryaVarma commented on #25
i want to contribute to this, please assign it to e asap

[2020-03-01 05:57] vishakha-lall commented on #25
@AishwaryaVarma , this issue has a dependency on another issue and must wait till that has been merged.

[2020-03-01 06:02] vishakha-lall commented on #22
@AishwaryaVarma this issue is already assigned.

[2020-03-01 06:02] vishakha-lall commented on #24
@AishwaryaVarma this issue is already assigned.

[2020-03-01 06:03] vishakha-lall commented on #29
@Pihu1998 go ahead! Track your progress here, express any concerns and blockers that you might face.

[2020-03-01 06:05] vishakha-lall commented on #31
@Pihu1998 while we cannot assign an issue to multiple participants during the period of GSSoC, it is recommended that when @radhikasethi2011 raises a PR, you can collaborate on her work and make suggestions and provide feedback.

[2020-03-01 06:07] Pihu1998 commented on #29
Yeah, sure. Thanks :)

[2020-03-01 06:10] vishakha-lall commented on #13
I see. Why don't you try the `docker run -it` to start the container instead of `docker-compose`. Although, make sure you have the database container as a dependent container so that it is started when starting the Python container.

[2020-03-01 06:13] AishwaryaVarma commented on #21
i want to work on this

[2020-03-01 06:13] Himan1999 commented on #28
As I am totally beginner I would like to work on this issue as it tags the beginner one plus please guide me what to do and how to do.
 @vishakha-lall guide me and assign this issue to me.

[2020-03-01 06:14] Pihu1998 commented on #31
Yeah, will surely do that.

[2020-03-01 06:16] AishwaryaVarma opened #33 "Mentor"
Mentor

- Suggest fixes, gives feedback
- Reviews the code

_Originally posted by @vishakha-lall in https://github.com/vishakha-lall/MapBot/pull/12#issuecomment-590755262_

[2020-03-01 06:17] myselfanuj commented on #24
I already working on it

[2020-03-01 06:27] chttrjeankr commented on #13
Do you mean I should use `Dockerfile` instead of `docker-compose.yml` to do everything? And would that mean one container communicating with another container from outside the network? I'm somewhat confused.

[2020-03-01 06:47] vishakha-lall commented on #13
I do indeed mean to use Dockerfile instead, if you are unable to resolve the docker-compose error. Using only docker would be more complicated as you would need to create a network for containers to communicate on.

[2020-03-01 06:49] vishakha-lall commented on #24
@myselfanuj continue your work. This issue is assigned to you.

[2020-03-01 06:49] vishakha-lall commented on #33
@AishwaryaVarma why have you created this issue?

[2020-03-01 06:51] vishakha-lall commented on #28
@Himan1999 this issue is assigned to @gabbyprecious for now. If the current assignee drops the issue, we might assign it to you.

[2020-03-01 06:51] AishwaryaVarma commented on #19
assign it to me

[2020-03-01 06:52] vishakha-lall commented on #21
@AishwaryaVarma please check if an issue is already assign to someone. @adityabisoi is already working on this.

[2020-03-01 07:04] vishakha-lall commented on #19
@AishwaryaVarma can you please discuss your approach for this in summary, before we assign it to you?

[2020-03-01 07:13] AishwaryaVarma opened #36 "analyze code.init"

[2020-03-01 07:34] janakrajchadha commented on #36
@AishwaryaVarma what's the purpose of this issue?

[2020-03-01 07:38] AishwaryaVarma commented on #29
can i be assigned this issue?

[2020-03-01 07:44] AishwaryaVarma commented on #31
assign this issue to me

[2020-03-01 07:45] chttrjeankr commented on #13
Yeah, it'd definitely become much more complex. I think I'd try and find out a solution to my current approach and switch to only `docker` iff absolutely necessary

[2020-03-01 10:11] srishti-nema commented on #17
Hey @vishakha-lall ! I would like to work on this. Can you help me through?

[2020-03-01 10:20] vishakha-lall commented on #17
@srishti-nema go ahead, I've assigned this to you. However I would like you to share your thoughts on how you want to take this forward, the tech stack etc. With your plan, I want to split this task into multiple issues so we can take this forward incrementally.

[2020-03-01 11:59] YashAwaghate commented on #18
I am interested to work on this issue. Can you please assign it to me?

[2020-03-01 13:33] vishakha-lall commented on #18
Go ahead @YashAwaghate! Track your progress here, and let us know if you face any blockers.

[2020-03-01 15:42] PratilipiAich commented on #27
I would like to take up this issue. @vishakha-lall

[2020-03-01 15:43] kirthi-ka commented on #20
@vishakha-lall Can I please work on this issue ma'am

[2020-03-01 15:46] vishakha-lall commented on #20
@kirthi-ka go ahead, track your progress here. Let us know if you face any blockers.

[2020-03-01 15:48] vishakha-lall commented on #27
Go ahead @PratilipiAich, track your progress here. Let us know if you face any blockers!

[2020-03-01 15:51] PratilipiAich commented on #27
Okay. Thank you.

[2020-03-01 16:20] srishti-nema commented on #17
I am thinking of using tkinter to solve the issue, however, I don't know how can I take the data. Can you help me?

[2020-03-02 03:22] #36 closed

[2020-03-02 03:23] #33 closed

[2020-03-02 05:14] vishakha-lall commented on #26
I have unassigned this issue, as the contributor was not responding on the issue or the PR raised. This needed immediate attention because issue #13 finds dependencies in this. @chttrjeankr has volunteered to take this up immediately, assigning accordingly.

[2020-03-02 05:22] vishakha-lall commented on #31
@Pihu1998 what is the status on this? How much longer do you think you need before you can to create a PR? Please track your progress here.

[2020-03-02 05:24] vishakha-lall commented on #29
@Pihu1998 please make sure you are working on only 1 issue at a time, it's only fair to all others. I have unassigned this issue, please complete your first issue before you claim others.

[2020-03-02 05:25] chttrjeankr commented on #26
Yeah. Some dependencies arise in this issue for solving #13. I'd be happy to take this up and solve it, if you would assign me to it. 😁

[2020-03-02 05:26] vishakha-lall commented on #28
@gabbyprecious what is the status on this? How much longer do you think you need before you can to create a PR? Please track your progress here.
If you are unable to work on the issue currently, please inform the community, so that we can assign this to someone else.

[2020-03-02 05:27] vishakha-lall commented on #26
Go ahead @chttrjeankr

[2020-03-02 05:28] vishakha-lall commented on #24
@myselfanuj what is the status on this? How much longer do you think you need before you can to create a PR? Please track your progress here.

[2020-03-02 05:28] vishakha-lall commented on #22
@Nandini9634 what is the status on this? How much longer do you think you need before you can to create a PR? Please track your progress here.

[2020-03-02 05:31] vishakha-lall commented on #17
Check out the code in `init.py`, it has the methods that are called for the user's input and the bot's response. The UI should be mirroring the same.

[2020-03-02 06:28] ayushmankumar7 opened #38 "ERROR: Invalid requirement: '\ufeffgooglemaps==2.5.1' (from line 1 of requirements.txt)"
I tried to install the requirements.txt file and got this error. Here is the attached screenshot.
![Screenshot from 2020-03-02 11-57-03](https://user-images.githubusercontent.com/41910134/75650811-1323c480-5c7d-11ea-80f6-9e0c8679112d.png)

[2020-03-02 06:46] darkmatter18 commented on #19
@vishakha-lall Can I work on it. Can You assign it to me?

[2020-03-02 06:54] Pihu1998 commented on #29
Yeah @vishakha-lall . This is my first issue. In the previous one where I requested to be assigned, it was already assigned to someone else. So, I requested for this issue.

[2020-03-02 06:58] Pihu1998 commented on #31
@vishakha-lall As you said, I am waiting for @radhikasethi2011 to raise a PR so that I can collaborate on her work and make suggestions and provide feedback. :)

[2020-03-02 07:09] vishakha-lall commented on #29
@Pihu1998 my bad, I've reassigned this issue to you, please update your progress.

[2020-03-02 07:10] vishakha-lall commented on #31
@radhikasethi2011 what is the status on this? How much longer do you think you need before you can to create a PR? Please track your progress here.

[2020-03-02 07:10] vishakha-lall commented on #19
I have assigned it to you @darkmatter18 , please discuss your approach, progress and blockers here.

[2020-03-02 09:16] hritikksingh commented on #16
@vishakha-lall I wanted to work on this issue, if it's not assigned to anyone as SnehhaPadmanabhan is not working on this any more.

[2020-03-02 10:14] chttrjeankr commented on #25
Could I work on this issue? The #13 I'm working on, needs some documentation that I feel is mandatory for it to be called complete.

I'm willing to be re-assigned later to modify the documentation after dealing with #14.

[2020-03-02 10:53] #26 closed

[2020-03-02 11:25] vishakha-lall commented on #16
Go ahead @hritikpapa, make sure you track your progress here and let us know if you face any blockers.

[2020-03-02 11:32] vishakha-lall commented on #25
Certainly, makes sense @chttrjeankr. I will assign it to you, although I would suggest you complete this before #14 , so that anyone setting up has the steps to do that.

[2020-03-02 11:32] hritikksingh commented on #16
Sure I will do that

[2020-03-02 11:37] chttrjeankr commented on #25
Exactly my thoughts! Also, if needed, I'll come back to this after completing #14.

[2020-03-02 15:54] athityakumar commented on #17
Hey @srishti-nema! 👋

I can help you with integrating with the existing back-end, but we're kinda skipping a few steps. Can you first have a look at the what all the back-end does, and share a rough sketch/drawing of what type of UI view(s) you'd like to build?

We can definitely discuss and choose the tech stacks later, but I think we should first have clarity on _HOW_ the UI should look like. 😄

[2020-03-02 17:31] #38 closed

[2020-03-02 17:31] syedibrahim commented on #15
@vishakha-lall I will work on this

[2020-03-02 17:55] YashAwaghate commented on #18
I set up the project today and went through the code of direction and geocoding methods and their implementation.
I was also going through the Places API and different kinds of requests, parameters.#18

[2020-03-02 18:01] vishakha-lall commented on #15
Go ahead @zeeshanovic , make sure you track your progress here and let us know if you face any blockers.

[2020-03-02 18:03] vishakha-lall commented on #18
@YashAwaghate thanks for the update, it's a good practice. How much more time do you think you need before you can raise a PR for this issue? (estimate)

[2020-03-02 18:19] YashAwaghate commented on #18
I have started working on the issue and I think I will be able to raise a PR by Thursday.

[2020-03-02 20:04] AishwaryaVarma commented on #18
assign me this task i have gone through the apis

[2020-03-02 20:04] AishwaryaVarma commented on #18
i wanna commit changes and make a pr

[2020-03-03 03:48] Nandini9634 commented on #22
Ma'am, I just need two more days and then I'll be ready to create a PR.

[2020-03-03 05:04] AishwaryaVarma commented on #31
im working on this

[2020-03-03 05:14] vishakha-lall commented on #31
@AishwaryaVarma this issue is already assigned to someone. Please check that before commenting to claim the issue. Also, can you confirm if you are a GSSoC participant? If yes, please reach out to me immediately on the community Slack channel.

[2020-03-03 08:03] adityabisoi commented on #21
@vishakha-lall The URL for requests is ```https://maps.googleapis.com/maps/api/staticmap?center=Berkeley,CA&zoom=14&size=400x400&key=YOUR_API_KEY``` . But, since we cannot use raw API key in the URL directly in the code, what are the possible ways of fetching it from config file ?

[2020-03-03 08:09] vishakha-lall commented on #21
@adityabisoi why don't your try string concatenation to generate the URL?

[2020-03-03 09:19] adityabisoi commented on #21
@vishakha-lall Yes I am using string concatination, but what I'm asking is, in the Maps website the geocoding URL is given as ```https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,
+Mountain+View,+CA&key=YOUR_API_KEY``` but the app uses ```https://www.google.com/maps/search/?api=1&query=``` .The difference is that, the former requires an API key hardcoded, whereas

[2020-03-03 09:23] adityabisoi commented on #21
However, I have imported the key from ```config``` and am concatenating to the URL.

[2020-03-03 10:04] vishakha-lall commented on #21
@adityabisoi, the one in the app used the googlemaps Python module and we set the key when importing the module, the key is authenticated and any API requests made are validated. If StaticMapsAPI has similar integration in the Python module, then you need not specify the key in the URL, however if it doesn't you would need to get the api key from config and concatenate the string to generate the c

[2020-03-03 10:08] adityabisoi commented on #21
@vishakha-lall as the API generates a static image only, there doesn't seem to be a method related to ```googlemaps``` module. I have done the latter to generate the URL.

[2020-03-03 10:28] vishakha-lall commented on #21
Sure, let me review the PR that you have raised wrt this and get back to you.

[2020-03-03 16:26] syedibrahim commented on #15
@vishakha-lall I have currently removed definitions of add_to_maps_database and get_from_maps_database from googleMapsApiModule.py and yet to replace references to table with the dictionary. Am I making right progress?

[2020-03-03 17:05] vishakha-lall commented on #15
Yes, your progress looks promising! Keep it up.

[2020-03-03 17:11] #21 closed

[2020-03-03 17:23] vishakha-lall commented on #17
@srishti-nema how is the work for this issue coming along? Do you have any blockers? How do you plan to take this forward?
@athityakumar, our mentor, is willing to offer you more support and direction with this task. Please get in touch with him 😄

[2020-03-03 17:36] vishakha-lall opened #44 "Refactor string formatting in googleMapsApiModule.py"
#### Requirement
Improve the url string generation
#### Pre-requisite
- Elementary knowledge of Python
#### Dependencies
None
#### Description
- Address the following review comments and refactor the code to adhere to string formatting best practises.
[Motivation](https://github.com/vishakha-lall/MapBot/pull/42#discussion_r386859764)
[Improvement](https://github.com/vishakha-lall/MapBot/pull/42#di

[2020-03-03 17:37] srishti-nema commented on #17
@vishakha-lall @athityakumar I don't know much about design but thinking of beginning with a simple interface having a send button and a text box of course with labels of "MapBot" and "user_name".

[2020-03-03 17:40] adityabisoi commented on #44
@vishakha-lall I want to work on this.

[2020-03-03 17:51] AishwaryaVarma commented on #21
Vishaka why are u closing all my pr's?
Could you please let me know on how to contribute to your issues as I have
prior knowledge of only committing and raising a PR.

On Tue, Mar 3, 2020, 22:41 Vishakha Lall <notifications@github.com> wrote:

[2020-03-03 17:52] athityakumar opened #45 "Add a more exhaustive gitignore"
- Python3 artifacts are not ignored currently
- DS_Store for Mac

A sample gitignore for reference: https://gist.github.com/GhostofGoes/94580e76cd251972b15b4821c8a06f59

[2020-03-03 17:54] athityakumar opened #46 "Add pep8 linter for standardising code quality"
There are multiple linters available out there for Python3. Preferably, add support for linter (say, flake8) and make all changes to pass the linting tests.

[2020-03-03 17:56] athityakumar opened #47 "Setup Travis CI"
Continuous Integration provides us with a good guarantee of what's the current state of any PR. Ideally, we should run unit-tests and linting tests in the Travis CI - so that, contributors can directly see the results of the sanity checks without waiting for review from mentors.

[2020-03-03 18:07] vishakha-lall commented on #47
We would need a lot of work in terms of testing before we can integrate that, don't you think it's too early to take this up?

[2020-03-03 18:10] vishakha-lall commented on #46
I'm not quite sure about this due to some knowledge gap. @janakrajchadha what are your thoughts on this?

[2020-03-03 18:22] athityakumar commented on #47
Hmm, I think we get CI started at least for linting. Linting does static-code analysis and checks if the written code adheres to best practises - so that we don't need to do all the nitpicking(s) that we do during PR reviews.

Rather, the CI build would fail and the contributors can check why the linter is failing. As the linter does specify which rule has been violated up to file/line granularity

[2020-03-03 18:23] athityakumar commented on #47
(This issue depends on #46 to be completed first)

[2020-03-03 18:24] hritikksingh commented on #44
Can I start again with this issue, I will do my best to make everything clear this time.

[2020-03-03 18:25] FrozenGirl-spd commented on #45
Can i work on this issue please?

[2020-03-03 18:28] vishakha-lall commented on #44
@hritikpapa let us first work on merging the open PR first, we'll certainly have a new issue for you to work on after we complete that.

[2020-03-03 18:29] vishakha-lall commented on #44
@adityabisoi you know the drill, keep us updated :)

[2020-03-03 18:31] vishakha-lall commented on #47
I see, that does sound very useful indeed. Let's go ahead with them then :)

[2020-03-03 18:32] vishakha-lall commented on #47
Can you add an issue description aligning to our existing issue descriptions so that the participants have a clear idea on the issue? For both this and #46

[2020-03-03 18:36] vishakha-lall commented on #21
@AishwaryaVarma please reach out to me directly on the Slack channel.
The PRs and issues you had raised did not align to our contribution guidelines specified in the readme. I urge you to go through that please. You were also not adhering to our issue claiming methodology.
Please reach out to me directly for any clarifications. General clarifications on specific issues is not a good practice.

[2020-03-03 18:56] athityakumar commented on #17
@srishti-nema - Okay, and what kind of interactions would you like to have in it? Say, user types something in the text box and clicks send. What happens next from the user's point of view?

[2020-03-03 19:01] athityakumar commented on #45
@FrozenGirl-spd - Sure thing, I've assigned the issue to you. Go ahead! 😄

[2020-03-03 19:15] athityakumar commented on #46
@vishakha-lall - I've slightly described about what linting / static-code analysis does in #47 - please have a look 😄

[2020-03-03 19:36] snehhap commented on #46
@athityakumar I'm willing to work on this issue if it is open for assignment. I would also like to know more about linting. Is there a blog or website that I can refer to for this task.

[2020-03-03 19:41] athityakumar commented on #46
@SnehhaPadmanabhan - I'm assigning this to you. You can have a look at https://medium.com/python-pandemonium/what-is-flake8-and-why-we-should-use-it-b89bd78073f2 to know more. Our project is Python3 - so you need to follow the relevant installation/configuration for that 😄

[2020-03-03 22:48] radhikasethi2011 commented on #31
Yes I'm working on it!

[2020-03-04 03:29] #13 closed

[2020-03-04 05:12] chttrjeankr commented on #14
I'd be willing to take up this issue. Now that #13 is complete, I feel confident about this one.

[2020-03-04 05:22] vishakha-lall commented on #14
Go ahead @chttrjeankr!

[2020-03-04 05:42] janakrajchadha commented on #46
@vishakha-lall Linting tests are essential for any repository and are extremely helpful with quick reviews when there are multiple changes being pushed by multiple folks. While building a comprehensive set of tests might take some effort, we can start with some basic tests and keep adding as we see fit. As far as CI is concerned, Travis is one of the most popular choice and not all that difficult

[2020-03-04 05:47] janakrajchadha commented on #46
AFAIK, adding an extension in your local IDE would automatically raise issues and warnings without an explicit call to a linter post your development which is a quicker way for local debugging.

[2020-03-04 10:10] athityakumar commented on #46
@janakrajchadha - Correct, but as it's not reasonable to expect that all the contributors would have set up the linter in their IDE, I think it'd be more foolproof if the linter tests run on each commit of PR. As a first step, let's clean the existing code and add linter support. The next step is CI support of course! 😄

@SnehhaPadmanabhan - Keep us posted about your updates. Especially if you're

[2020-03-04 14:04] vishakha-lall commented on #31
@radhikasethi2011 please share your progress and update us with how much more time you would require to raise a PR to fix this issue.

[2020-03-04 14:06] vishakha-lall commented on #15
@zeeshanovic what is the update on this? How much more time would you need to raise a PR?

[2020-03-04 14:08] syedibrahim commented on #15
I will finish the work by tonight or tomorrow morning and raise the PR

[2020-03-04 14:12] vishakha-lall commented on #18
A [PR](https://github.com/vishakha-lall/MapBot/pull/43) similar to this issue has been merged. Make sure you check it out for inspiration.
Also, what are the updates? Any blockers?

[2020-03-04 14:14] vishakha-lall commented on #19
A [PR](https://github.com/vishakha-lall/MapBot/pull/43) similar to this issue has been merged. Make sure you check it out for inspiration.
@darkmatter18 I have not received any updates from you, are you currently unavailable to work on this?

[2020-03-04 14:16] vishakha-lall commented on #29
@Pihu1998 I have not received any updates from you. What is the progress on this issue and by when do you target to raise a PR?
Are you currently unavailable to work on this issue?

[2020-03-04 14:17] vishakha-lall commented on #24
@myselfanuj I have not received any updates from you. Are you currently unavailable to work on this issue?

[2020-03-04 14:23] vishakha-lall commented on #27
@PratilipiAich what is the update on this issue? Are you unavailable to work on this?

[2020-03-04 14:24] vishakha-lall commented on #20
@kirthi-ka I have not received any updates from you. Are you unavailable to work on this?

[2020-03-04 14:31] #25 closed

[2020-03-04 14:32] PratilipiAich commented on #27
I am trying to look for ways to improve it. Not sure in what way do you want the improvement? The code is compact.
Can you give me a push towards the topic or what is expected?

[2020-03-04 15:14] #16 closed

[2020-03-04 15:17] athityakumar opened #49 "Add support for .env file"
#### Requirement

Add support for .env file

#### Pre-requisite

Elementary knowledge of Python

#### Dependencies

None

#### Description

Typically, the part that's given in `config.py` should actually be set as environment variables in a separate `.env` file. A sample file `example.env` is checked into git, whereas the `.env` file is gitignore-d. I think it'd be better to follow this practice a

[2020-03-04 15:25] hritikksingh commented on #28
Can I try this issue, I have worked with OS module before  [https://github.com/hritikpapa/Face-recognition-attendance-system/blob/master/finalproject/newpro.py](url)

[2020-03-04 17:23] vishakha-lall commented on #49
@athityakumar makes sense, why don't you add a description for this issue that aligns to other issues' descriptions.

[2020-03-04 17:25] vishakha-lall commented on #28
@hritikpapa, sure! Go ahead. However, make sure you use the `pathlib` module. More details [here](https://docs.python.org/3/library/pathlib.html)

[2020-03-04 17:30] vishakha-lall commented on #27
@PratilipiAich what have you thought of till now?
Some possible options could be to
- Get rid of the `while(True)` loop
- Implement exiting the conversation(script) cleanly when encountering 'bye' as [here](https://github.com/vishakha-lall/MapBot/blob/d62370e8a86f9578c0d5c49880110be8ba1c641a/chatbot.py#L31)

[2020-03-04 17:45] #15 closed

[2020-03-04 18:07] PratilipiAich commented on #27
Okay. Thank You for the guidance. I will work on it and keep you updated. I will try to finish it soon.

[2020-03-04 18:13] YashAwaghate commented on #18
I am stuck with some issue in parameter passing. Working on that as of now.

[2020-03-04 19:04] athityakumar commented on #49
@vishakha-lall - Cool, done! Let me just put it up for grabs 😄

[2020-03-04 19:46] shubkaushik commented on #49
Hi @vishakha-lall, @athityakumar, Can I take this issue ?

[2020-03-04 23:01] radhikasethi2011 commented on #31
I will be raising a PR tonight

[2020-03-05 01:43] janakrajchadha commented on #46
@athityakumar of course, it was nothing more than a suggestion for contributors to try out and see if it helps them. Absolutely, I am anticipating some clean up required once tests are added and we'd have to create new issues for that. 🗒

[2020-03-05 04:13] Pihu1998 commented on #29
@vishakha-lall I am working on it. I am a newbie to Open Source. So, its taking a bit longer. I apologize for it. I'll be raising a PR today.

[2020-03-05 05:59] janakrajchadha opened #52 "Gather more data for the chatbot's database via publicly available datasets"
**Requirement**
The `sentences.csv` file has very limited data which can be used for the initial training. The aim is to gather more data via publicly available datasets and sources to help improve the responses of the bot via ML models.

**Pre-requisite**
- Elementary knowledge of Python
- Elementary understanding of the available data

**Dependencies**
None

**Description**
This is an open-ended

[2020-03-05 06:06] vishakha-lall commented on #22
@Nandini9634 what is the update on this issue? When can we expect a PR?

[2020-03-05 06:07] vishakha-lall commented on #44
@adityabisoi what is the progress on this issue? When can we expect to see these changes?

[2020-03-05 06:08] vishakha-lall commented on #17
@srishti-nema What is the update on this issue? Are you blocked? Do you need any help?

[2020-03-05 06:22] Pihu1998 commented on #29
Hi @vishakha-lall , I am getting this error while pushing changes to this repository.
![Screenshot (219)](https://user-images.githubusercontent.com/47104271/75953603-b5d77f80-5ed7-11ea-8d83-be8040ca6a30.png)

Please help me to resolve this.

[2020-03-05 06:25] AishwaryaVarma commented on #29
Could you please log me out from receiving these emails it's too disturbing

On Thu, Mar 5, 2020, 11:52 Pihu1998 <notifications@github.com> wrote:

[2020-03-05 06:26] AishwaryaVarma commented on #29
Only you have a problem with my pr's till now I suppose. Rest mentors are
fine with it

On Thu, Mar 5, 2020, 11:55 a v <aishwarya270290@gmail.com> wrote:

[2020-03-05 06:26] adityabisoi commented on #44
@vishakha-lall I was traveling, will commit before the evening !

[2020-03-05 06:32] Pihu1998 commented on #29
@AishwaryaVarma  You can simply unsubscribe from the mailing list to not receive these emails.

 <https://github.com/notifications/unsubscribe-auth/AJZ5KEB57Y7ZFCKX6DW3TSTRF5AJLANCNFSM4K5WPAUA>

Hope this helps :)

[2020-03-05 06:33] AishwaryaVarma commented on #29
I've done, still receiving them

On Thu, Mar 5, 2020, 12:02 Pihu1998 <notifications@github.com> wrote:

[2020-03-05 06:34] janakrajchadha opened #53 "Gather more data for the chatbot's database via crowd-sourcing"
Requirement
The sentences.csv file has very limited data which can be used for the initial training. The aim is to gather more data via publicly available datasets and sources to help improve the responses of the bot via ML models.

Pre-requisite

Elementary knowledge of Python
Elementary understanding of the available data
Dependencies
None

**Description**
This is an open-ended issue where parti

[2020-03-05 06:35] Pihu1998 commented on #29
Oh, then let @vishakha-lall  do the resolution thing.

[2020-03-05 06:44] vishakha-lall commented on #29
@AishwaryaVarma since you have commented almost everywhere (without checking whether an issue is claimed or not), you seem to be receiving these notifications. You can unsubscribe from all such issues where you have commented and/or delete your comments.
Issues are a place to have conversations regarding the 'issue' please refrain from discussing such concerns here.

[2020-03-05 06:46] janakrajchadha commented on #29
@AishwaryaVarma I'm not sure if you're referring to PRs in other projects but we have neither seen the requisite description in your PRs nor the requested changes. All your PRs for this project clearly go against Open Source development best practices and GSSoC guidelines. As mentioned by @Pihu1998 , an unsubscribe from the mail should work in case you don't want to receive updates for these issue

[2020-03-05 06:47] AishwaryaVarma commented on #29
Thanks ah

On Thu, Mar 5, 2020, 12:14 Vishakha Lall <notifications@github.com> wrote:

[2020-03-05 06:48] janakrajchadha commented on #29
@Pihu1998 The issue you are facing is that you're trying to push to the default branch for the repository. You need to push these changes to your branch in your fork of the project on GitHub and then open a PR to merge it into `gssoc-master`.

Please refer to these links for more info on this-
https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/proposing-changes-to-your-w

[2020-03-05 06:51] vishakha-lall commented on #29
@Pihu1998, @janakrajchadha response is the way to go, let us know if you still face difficulties.

[2020-03-05 08:22] Pihu1998 commented on #29
Thank you @janakrajchadha for the clarification.

[2020-03-05 08:26] Pihu1998 commented on #29
@vishakha-lall  I have raised a PR for this issue. I have implemented logging to a small portion of the project. Did I do it correctly? Sorry for a foolish question. Your humble advice and suggestions might help a newbie like me to get into Open Source well. Thanks :)

[2020-03-05 11:11] #14 closed

[2020-03-05 11:14] sarthakforwet commented on #47
@athityakumar @vishakha-lall has this issue been fixed or I can contribute to this?

[2020-03-05 11:25] vishakha-lall commented on #47
@sarthakforwet this issue is dependent on #46 to be started. You can however, take a look at other open issues that are not assigned to anyone as of now.

[2020-03-05 14:08] radhikasethi2011 commented on #31
![issue](https://user-images.githubusercontent.com/44310177/75989170-cc51fb00-5f18-11ea-8293-b5e019763e00.JPG)
I've made a setup error, that i'm not able to undo. Can you guide me?

[2020-03-05 14:11] chttrjeankr commented on #24
Seems like a fairly good issue. Would like to be assigned, if no one's working on this.

[2020-03-05 14:16] vishakha-lall commented on #24
Go ahead!

[2020-03-05 15:00] vishakha-lall commented on #18
@YashAwaghate what is the status? When can we expect you to raise a PR?

[2020-03-05 15:03] vishakha-lall commented on #31
@radhikasethi2011 Please reserve this space to discuss about the specific issue. Please discuss your setup related queries in the Slack channel.

[2020-03-05 15:10] janakrajchadha opened #57 "Add different text classifiers to improve the user input classification"
**Requirement**
Currently, only a Random Forest Classifier is being used to classify the user's input as a sentence, chat, or question (this has been explained in the GSSoC file in the repo). We need to try out a few other text classifiers and add two best ones to the bot.

**Pre-requisite**
Intermediate knowledge of Python
Elementary understanding of the available data
Elementary knowledge of Mac

[2020-03-05 15:31] janakrajchadha opened #59 "Add functionality to persist and retrain ML model"
**Requirement**
Currently, the ML model is trained from scratch whenever the application is setup. We need a way to persist the trained state of the model and retrain it based on certain conditions.

**Pre-requisite**
Intermediate knowledge of Python
Elementary understanding of Docker

**Dependencies**
#57, since the logic to pick the model to persist will come from the previous issue

**Descripti

[2020-03-05 16:24] snehhap commented on #46
@athityakumar I'm sorry I couldn't update. I fell sick and I'm currently recovering. I'm reading about this concept because it is totally new to me. I'm yet to set up the base in my system. I'm hoping to make progress by this weekend. I'll definitely let you know if I get stuck.

[2020-03-05 17:16] hritikksingh commented on #49
@vishakha-lall  I would also love to work on this issue, I wanted to change my issues label from Beginner to Easy. If available please assign me this issue.

[2020-03-05 18:03] adityabisoi commented on #20
@vishakha-lall I want to work on this.

[2020-03-05 18:08] vishakha-lall commented on #20
Go ahead @adityabisoi

[2020-03-05 18:22] YashAwaghate commented on #18
It will take me another day or 2.Sorry for the delay. I am facing errors with the input string while passing it to PlacesAPI.

[2020-03-06 03:28] vishakha-lall commented on #18
@YashAwaghate did you take a look at #43, it resolves a similar issue.

[2020-03-06 03:29] vishakha-lall commented on #49
@shubkaushik, please go ahead! Track your progress here and let us know if you face any blockers.

[2020-03-06 03:30] vishakha-lall commented on #49
@hritikpapa I would encourage you to look for other unassigned issues, @shubkaushik did comment first.

[2020-03-06 03:36] hritikksingh commented on #49
@vishakha-lall I understand that, I will look for another issue. 😇

[2020-03-06 05:00] YashAwaghate commented on #18
Yes, I am referring to that.

[2020-03-06 05:36] #24 closed

[2020-03-06 06:30] #28 closed

[2020-03-06 06:31] abhishekgupta368 commented on #59
can you please assign me?

[2020-03-06 06:32] vishakha-lall commented on #59
@janakrajchadha can you discuss @abhishekgupta368's approach and then assign this issue to him?

[2020-03-06 06:35] abhishekgupta368 commented on #59
ok

[2020-03-06 06:37] abhishekgupta368 commented on #59
we can train data and dump it into pickle format and store for later training.

[2020-03-06 06:37] abhishekgupta368 commented on #59
later, we will load it and use it, as per our usage

[2020-03-06 06:50] janakrajchadha commented on #59
@abhishekgupta368 Your approach makes sense. However, that is only part of the solution. You'll have to modify the Docker config and set up a retraining job as well. Would you be able to pick up those things as well?

[2020-03-06 06:51] abhishekgupta368 commented on #59
i don't know about docker?
where i can study about it?

[2020-03-06 06:52] abhishekgupta368 commented on #59
where i can study about it?

[2020-03-06 06:58] vishakha-lall commented on #59
@abhishekgupta368 please refrain from sending individual statements in issue discussions. This is not a chat. Try to collate your thoughts and put them together, before sending your conversation.
@janakrajchadha does it make sense to split this issue into two parts?

[2020-03-06 12:39] vishakha-lall commented on #59
@abhishekgupta368 you can refer to the official documentation [here](https://docs.docker.com/develop/). Also try setting up the project the [Docker way](https://github.com/vishakha-lall/MapBot#what-are-some-pre-requisites-with-docker).

[2020-03-06 14:22] hritikksingh commented on #19
@vishakha-lall can I try this issue but I need guidelines to work with this, I can create a function timezone that can generate the web address for request the time zone data for a given API KEY

[2020-03-06 14:37] BhavanaPadala commented on #22
I want to work on this, can you assign this to me.?

[2020-03-06 15:19] janakrajchadha commented on #59
@vishakha-lall We can work on the retraining part in another issue. However, persisting the ML model and the configuration in Docker should be handled in one issue.

[2020-03-06 16:32] Nandini9634 commented on #22
@vishakha-lall ma'am, actually i am facing certain issues in this so i m trying my level best to solve them as soon as i solve them i'll be ready to create a PR. I am extremely sorry ma'am for the delay.

[2020-03-07 03:13] vishakha-lall commented on #22
@Nandini9634 share your blockers so that we can assist you.

[2020-03-07 03:15] vishakha-lall commented on #19
@hritikpapa I have shared a similar PR in one of the previous comments, why don't you go through the code and let me know if you're confident to work on this. I will assign it to you then.

[2020-03-07 06:12] hritikksingh commented on #19
@vishakha-lall  I can work on this but I need some guidance throughout the process.

[2020-03-07 06:31] vishakha-lall commented on #19
Okay sure, why don't you pick it up and share your blockers here to discuss with the mentors

[2020-03-07 12:17] #44 closed

[2020-03-07 12:35] janakrajchadha opened #62 "Bugfix : Fix issue caused by converting SQL insert queries to f-strings without proper variable conversion"
**Description**
Changes made to the queries in `databaseconnect.py` where insert queries' strings were converted to f-strings are causing SQL failures in certain cases.

Example
[code]
The variables are lists of strings and are thus appearing as lists in the query which is then truncated as a string at `'['`. This needs to be fixed in such a way that queries run in all cases.

Additionally, since

[2020-03-07 17:54] YashAwaghate commented on #18
Please reassign the issue to someone. I am stuck, not able to complete it.

[2020-03-08 02:21] hritikksingh commented on #17
Is @srishti-nema  working on this ?

[2020-03-08 12:06] Nandini9634 commented on #22
Ma'a,m can you please share your API key as mine is showing some errors.

[2020-03-08 12:07] Nandini9634 commented on #22
@vishakha-lall  Ma'am, can you please share your API key as mine is showing some errors.

[2020-03-08 12:45] vishakha-lall commented on #22
@Nandini9634 this issue does not deal with GoogleMapsAPI at all, have you already fixed this and trying to test it? If so, you can only print the POS tags and comment the code that calls the API.

[2020-03-08 14:53] eaglewarrior commented on #57
@janakrajchadha and @vishakha-lall  I can take up this issue, I can retrain the data by trying all the listed algorithms and also doing feature engineering and gathering more data which can surely be giving us improved non-bias results

I have experience in building NLP pipeline

[2020-03-08 16:51] vishakha-lall commented on #57
Sure @eaglewarrior, do take this ahead. Just keep us updated on your progress and blockers.

[2020-03-08 17:03] PratilipiAich commented on #27
Can you help me with this?

RuntimeError: Running cythonize failed!
    Cythonizing sources
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

[2020-03-08 20:15] Mansi145 commented on #46
Is the issue still open for a contribution? I'd be happy to work on this.

[2020-03-09 03:18] Nandini9634 commented on #22
@vishakha-lall  okay ma'am, I'll just comment it. Thankyou.

[2020-03-09 06:21] vishakha-lall commented on #46
Go ahead @Mansi145. I have assigned this to you. Track your progress here.

[2020-03-09 06:23] vishakha-lall commented on #27
Can you share the complete stacktrace?

[2020-03-09 14:50] PratilipiAich commented on #27
key = <your_Google_Cloud_API_key>
I don't have this value!
I'm trying to run it again. Let's hope it works this time!

[2020-03-09 16:48] vishakha-lall commented on #27
Since this issue does not directly deal with Google maps, you can comment the code that makes the call to the API in chatbot.py to test.

[2020-03-09 17:23] PratilipiAich commented on #27
okay. Thank you!

[2020-03-10 18:10] srishti-nema commented on #17
Yes @hritikpapa

[2020-03-10 19:04] Pihu1998 commented on #62
Hey @janakrajchadha , I would like to work on this issue. Please can you provide some more details of it?

[2020-03-11 04:54] maheshschand commented on #18
I like to work on this. Could you please assign this to me @vishakha-lall ?

[2020-03-11 05:13] vishakha-lall commented on #18
I have assigned you @maheshschand, track your progress here and let us know if you face any blockers.

[2020-03-11 05:14] maheshschand commented on #18
OK

[2020-03-11 08:52] Pihu1998 commented on #52
Hi! Can I work on this issue?

[2020-03-11 11:03] asthacs commented on #31
Hi @vishakha-lall , since this issue is not currently assigned to anybody, would it be okay if I take this up? I am hoping for this to be my first contribution!

[2020-03-11 12:11] radhikasethi2011 commented on #31
My setup is ready, please assign me this issue! sorry for the inconvenience.

[2020-03-11 12:20] vishakha-lall commented on #31
@asthacs I have assigned this to you. Please track your progress constantly.
@radhikasethi2011, you can take a look at other open issues, since she had commented earlier.

[2020-03-11 16:02] janakrajchadha commented on #52
@Pihu1998 Sure, I'm assigning this to you. Please track your progress, questions and blockers here.
Also, please feel free to discuss things with other participants and mentors in the Slack channel since that might get you some more ideas and perspectives for this issue.

[2020-03-11 16:07] janakrajchadha commented on #62
@Pihu1998 The queries to insert data into the database have been modified to use f-strings. The variables used in them are essentially lists which may contain strings. Without the appropriate type conversion, the insert string might be terminated early due to the dynamic nature of its creation as seen in the example given in the description. We need to ensure that only the content of the strings g

[2020-03-11 18:26] payal-98 commented on #18
I like to work on this.Can u assigned me ?
@vishakha-lall

[2020-03-11 18:34] athityakumar opened #66 "Add unit-tests for googleMapsApiModule.py"
#### Requirement

Add unit tests for `googleMapsApiModule.py`

#### Pre-requisite

Intermediate knowledge of Python

#### Dependencies

None

#### Description

Unit tests provide confidence whether the individual components are working as intended or not; and help in catching bugs that we may not be able to manually find out. We'll need to add tests for each function/module using a testing library

[2020-03-11 18:36] athityakumar opened #67 "Add ISSUE_TEMPLATE.md"
This is the usual template for all issues in this repository:

[code]

[2020-03-11 18:40] athityakumar opened #68 "Add PULL_REQUEST_TEMPLATE.md"
#### Requirement

Add a template for newly open PRs

#### Pre-requisite

Elementary understanding of Markdown files

#### Dependencies

None

#### Description

It'd be better if all Pull Requests had a standard format (something like say, [this](It'd be better if all Pull Requests had a standard format)) - it'd be cleaner and also easier for mentors to review.

[2020-03-11 18:44] athityakumar commented on #46
@Mansi145 - Any progress? Feel free to let us know if you're stuck somewhere and need any help! 😄

[2020-03-12 02:18] vishakha-lall commented on #18
@maheshschand what is the update on this? Are you stuck somewhere? How long do you think you'll need before you can raise a PR?

[2020-03-12 02:19] vishakha-lall commented on #18
@payal-98 this issue is taken as of now. Can you take a look at other open issues?

[2020-03-12 02:20] #20 closed

[2020-03-12 02:53] adityabisoi commented on #68
I can add one.Please assign it to me.

[2020-03-12 03:01] maheshschand commented on #18
@vishakha-lall I am having exams right now. But I can raise a pr by Wednesday. Sorry for the delay.

[2020-03-12 05:04] shreyakapoor08 commented on #68
I want to work on this issue

[2020-03-12 05:05] shreyakapoor08 commented on #67
I want to take up this issue

[2020-03-12 08:01] vishakha-lall commented on #67
@shreyakapoor08 this is not an issue that requires any work. It is simply the template.

[2020-03-12 08:01] vishakha-lall commented on #67
@shreyakapoor08 this is not an issue that requires any work. It is simply the template.

[2020-03-12 08:02] shreyakapoor08 commented on #67
okay, will do it

[2020-03-12 08:05] vishakha-lall commented on #68
@athityakumar I had created a dummy [PR](https://github.com/vishakha-lall/MapBot/pull/12) and referenced in the GSSOC Readme. I don't think this is required and I'm closing this.

[2020-03-12 08:06] vishakha-lall commented on #67
@athityakumar this is mainly for mentors, let us avoid this for now.

[2020-03-12 08:06] #67 closed

[2020-03-12 10:14] Pihu1998 commented on #62
Hey @janakrajchadha , this might be due to SQL injection. And we can also try converting that list into a tuple to resolve the issue.
`list_items=(value1,value2,value3,value4)
sql_query="INSERT INTO question_table(subject,root_word,verb,sentence) VALUES (%s,%s,%s,%s)"
cur.executemany(sql_query,list_items)`

I guess we can try this. This can remove SQL injection. What are your thoughts on it?

[2020-03-12 10:21] Pihu1998 commented on #52
Yeah, sure. :)

[2020-03-12 12:12] adityabisoi commented on #66
Each function in `googleMapsApiModule.py` only ?

[2020-03-12 14:01] vishakha-lall commented on #66
@athityakumar, I think it's best to split this issue into multiple, each for a script. Can you do that and create the new issues please?

[2020-03-12 21:04] preeti13456 commented on #59
Interested

[2020-03-12 21:05] preeti13456 commented on #53
Interested

[2020-03-13 03:01] vishakha-lall commented on #59
@preeti13456 can you discuss your approach here before we assign this to you

[2020-03-13 04:13] Pihu1998 commented on #52
Hi @janakrajchadha ! Since, this chatbot is for interacting with google maps, so do we need to only add a dataset specific to that? Or can have some general conversations too?
Thanks :)

[2020-03-13 04:23] preeti13456 commented on #59
We can use tensorflow to retain and store the train model. MlOps Model management, deployment, and monitoring for configuring and retraining the model. Can use a function or CNN fr verifying the accuracy.

[2020-03-13 11:25] Pihu1998 commented on #62
Hey @janakrajchadha , Can you please specify that how did you reproduce the failure/error?
It would be really helpful. Thanks :)

[2020-03-14 07:53] chttrjeankr commented on #62
Hey, I presume this bug was created by my last PR when I worked on [f-strings](https://github.com/vishakha-lall/MapBot/pull/58#discussion_r388451281).

I'd be happy to look into it and try and fix this bug if no one is working on it. @vishakha-lall
Seems like an easy solution involving `"` and `'`.

I plan to run this particular

[code]

 error case in a lone Python program to check what causes th

[2020-03-14 07:59] chttrjeankr commented on #17
I see one of the [scopes](https://github.com/vishakha-lall/MapBot/blob/gssoc-master/GSSoC.md#what-are-the-scopes-for-mapbot-during-gssoc-2020) mentioning broad-ranging UI integration using Telegram. I'd be happy to work on it if @srishti-nema is working with some other UI stack.

I have used Telegram as a UI to create a chatbot earlier and I think connecting MapBot to Telegram could be easily achi

[2020-03-14 08:13] chttrjeankr commented on #27
This issue seems redundant if and when #17 is resolved. Am I wrong in thinking that way? @vishakha-lall

[2020-03-14 09:16] vishakha-lall commented on #27
@chttrjeankr certainly, however we might still need `init.py` to test during development.
@PratilipiAich what is the status on this issue. When will you be ready to raise a PR?

[2020-03-14 09:46] shreyanshi2228 commented on #53
Hi!!! Can I work on this issue ?

[2020-03-14 10:14] vishakha-lall commented on #17
@chttrjeankr this issue is concerned with building an end to end UI framework. UI integration is certainly one of the scopes and l'll create issues regarding the same.

[2020-03-14 12:21] PratilipiAich commented on #27
I am unable to set up the project on my system. I apologise for the delay.
It is not recognising docker daemon. It says "Couldn't connect to Docker daemon." when I try to run start.sh

[2020-03-14 12:38] vishakha-lall commented on #27
@PratilipiAich you do not need to set up the Docker setup, only local setup is necessary.
Since you are currently setting up the project, I am unassigning the issue and you can claim it again once you're good to start development, if it is available.

[2020-03-14 12:40] vishakha-lall commented on #62
@chttrjeankr this issue is currently assigned. But can you help us reproduce the error?
@Pihu1998 what is the status on this issue? When can you raise a PR?

[2020-03-14 12:51] PratilipiAich commented on #27
okay.
How do I run the project/set up? I'm unable to run start.sh.
Or am I going wrong somewhere?

[2020-03-14 13:55] Pihu1998 commented on #62
Hi @vishakha-lall , I am waiting for @janakrajchadha to give his views on my solution. Moroever, I tried generating the error and was successful in generating a database error. I have messaged @janakrajchadha on the slack with a screenshot of the error to confirm for the same. Along with this, I am working on that error as well to fix it.
I will try to raise a PR by tomorrow. Thanks :)

[2020-03-14 13:58] #31 closed

[2020-03-14 19:00] athityakumar opened #73 "Expose existing python3 functions as service endpoints"
We're currently trying to build multiple types of clients / UIs - website, Android app and possibly even slack bot integration. However, for all these clients, we need a centralized back-end server that process and give back the results.

For this, we'll need to expose the existing functionality of MapBot shared across multiple functions, into service endpoints. As we won't be needing any database

[2020-03-14 19:03] athityakumar commented on #66
@adityabisoi - Sure, let's start with it for now. Would you like to take up this isue?

[2020-03-14 19:28] tripathyprateek commented on #57
Sorry for being late to this thread, can I also be assigned this task. I am already working on DL, and this issue will help me try out different algorithms with a purpose to improve the model. @vishakha-lall

[2020-03-14 20:28] asthacs commented on #27
Hi, I am interested in this issue but I am a bit unclear about it.

- As stated above by you, I thought of implementing the exit of conversation when a user types "bye" by using a break statement, but that would require changes in the chatbot.py file too. Would that be alright?
- Also, currently the chatbot gives an error if an empty input is given (the user just presses enter key). So I was think

[2020-03-15 01:24] adityabisoi commented on #66
@athityakumar Sure! Please assign me the issue.

[2020-03-15 02:43] vishakha-lall commented on #57
@tripathyprateek this issue is currently assigned. Can you elaborate what do you want to try, if it resonates with the project we can create a new issue for you.
@eaglewarrior what is the update on this issue? When will you be ready to raise a PR?

[2020-03-15 02:48] vishakha-lall commented on #27
Here are my thoughts @asthacs
- What changes are you anticipating in `chatbot.py`?
- This sounds good, yes.
I will assign this issue to you, make sure you track your progress here and keep us updated in case of any blockers.

[2020-03-15 02:49] vishakha-lall commented on #66
@adityabisoi I have assigned this to you, make sure you track your progress here.

[2020-03-15 04:29] janakrajchadha commented on #62
@Pihu1998 Yes, the solution does make sense. While this may be solved using either the `executemany` function or f-strings, I think we should go ahead with the latter to maintain consistency. Additionally, I think we should log any queries that are run to insert data.
@vishakha-lall thoughts?

[2020-03-15 04:31] janakrajchadha commented on #53
@preeti13456 I'm assigning this to you, please share your approach here and we can have a short discussion before you proceed with the implementation.
@shreyanshi2228 This issue is already assigned but you can take a look at the others and we'll be opening more soon :)

[2020-03-15 05:18] vishakha-lall commented on #62
@janakrajchadha logging is a nice option, please create a new issue for the same.

[2020-03-15 05:32] Pihu1998 commented on #62
Yeah, sure @janakrajchadha . I will solve this issue using f-strings. Thanks for suggesting. :)

[2020-03-15 06:39] shreyanshi2228 commented on #53
Okay:)

[2020-03-15 16:12] eaglewarrior commented on #57
Hey @vishakha-lall  I have started working on trying out all listed algorithms will share the findings very soon

[2020-03-15 16:41] asthacs commented on #27
The changes I'm anticipating are changing the return value of the variable `learn_response` when encountering "bye", so that a break statement can be inserted in init.py corresponding to the value of that variable.
@vishakha-lall

[2020-03-16 02:19] vishakha-lall commented on #27
@asthacs you could achieve the same without any changes to `chatbot.py`. since `init.py` is only a test file, we might not want to make any major changes to the actual code.

[2020-03-16 05:03] vishakha-lall commented on #73
@athityakumar, it looks like there would be a single endpoint - the bot itself. All the different features/API integrations are incorporated in the bot (`chatbot.py`). Exposing this as a service would suffice.

[2020-03-16 05:06] vishakha-lall opened #74 "Add unit-tests for databaseconnect.py"
#### Requirement

Unit tests are required for the script `databaseconnect.py`

#### Pre-requisite

Intermediate knowledge of Python

#### Dependencies

None

#### Description

Unit tests provide confidence whether the individual components are working as intended or not; and help in catching bugs that we may not be able to manually find out. We'll need to add tests for each function/module using a

[2020-03-16 05:08] vishakha-lall opened #75 "Add unit-tests for utilities.py"
#### Requirement

Unit tests are required for the script `utilities.py`

#### Pre-requisite

Intermediate knowledge of Python

#### Dependencies

None

#### Description

Unit tests provide confidence whether the individual components are working as intended or not; and help in catching bugs that we may not be able to manually find out. We'll need to add tests for each function/module using a testi

[2020-03-16 05:12] vishakha-lall commented on #49
@shubkaushik what is the status on this? When will you be ready to raise a PR?

[2020-03-16 05:13] vishakha-lall commented on #45
@FrozenGirl-spd what is the status on this? When will you be ready to raise a PR? Are you stuck somewhere?

[2020-03-16 05:14] #29 closed

[2020-03-16 05:15] vishakha-lall commented on #22
@Nandini9634 please share your update on this? Are you stuck? When will you be ready to raise a PR?

[2020-03-16 05:24] vishakha-lall opened #76 "Integrate with Telegram"
#### Requirement

Users can interact with MapBot on Telegram

#### Pre-requisite

- Intermediate knowledge of Python
- [Telegram API](https://core.telegram.org/api)

#### Dependencies

None

#### Description

- Any credentials if created on Telegram must NOT be linked to any personal accounts.
- The integration must be smooth and not interfere with the existing functioning of the bot.

[2020-03-16 05:27] vishakha-lall opened #77 "Integrate with Facebook Messenger"
#### Requirement

Users can interact with MapBot on Facebook Messenger

#### Pre-requisite

- Intermediate knowledge of Python
- [Facebook Messenger API](https://developers.facebook.com/docs/messenger-platform/)

#### Dependencies

None

#### Description

- Any credentials if created on Facebook must NOT be linked to any personal accounts.
- The integration must be smooth and not interfere with th

[2020-03-16 05:28] vishakha-lall opened #78 "Integrate with Slack Bot"
#### Requirement

Users can interact with MapBot on Slack bot

#### Pre-requisite

- Intermediate knowledge of Python
- [Slack API](https://api.slack.com/)

#### Dependencies

None

#### Description

- Any credentials if created on Slack must NOT be linked to any personal accounts.
- The integration must be smooth and not interfere with the existing functioning of the bot.

[2020-03-16 05:47] vishakha-lall opened #79 "Clone the code, download StanfordCoreNLP in DockerFile"
#### Requirement

Eliminate all processes to set up the project - the user should be able to set up the complete project by pulling the image and running `docker-compose up`

#### Pre-requisite

- Intermediate knowledge of Docker

#### Dependencies

#49

#### Previous Discussions

[Here](https://github.com/vishakha-lall/MapBot/pull/41#issuecomment-594020248)

#### Description

- `Dockerfile` shoul

[2020-03-16 06:29] chttrjeankr commented on #79
I'd be willing to take a look and work on this issue @vishakha-lall :nerd_face:

[2020-03-16 07:17] janakrajchadha commented on #59
@preeti13456 Can you please elaborate? I want to understand why tensorflow is specifically needed to store the trained model.
MLOps is a good option for overall monitoring and retraining.
As far as verifying performance metrics is concerned, I'm not quite sure how a CNN would help to verify the accuracy of a tree-based classifier. Can you elaborate on this as well?

[2020-03-16 07:40] vishakha-lall commented on #79
Certainly @chttrjeankr, go ahead!

[2020-03-16 07:42] #46 closed

[2020-03-16 07:52] athityakumar commented on #47
@vishakha-lall - This is now ready to be assigned, as #46 has been done by @Mansi145 😄

[2020-03-16 08:42] vishakha-lall commented on #47
@athityakumar correct me if I'm wrong but doesn't this have to be done by the owner of the repository?

[2020-03-16 09:26] preeti13456 commented on #59
With tensorflow we can use a trained model without having to retrain it, or pick-up training where we left off—in case the training process was interrupted. This way checkpoints created and automatically saved reduces out time. And CNN can help us in determining accuracy by creating a function epoch and including the specific error like sigmoid according to dataset.

Get Outlook for Android<https:

[2020-03-16 10:05] vishakha-lall commented on #47
I have set up TravisCI on this repository. This issue can now to assigned to complete the integration.
Essentially, this issue concerns with adding the `.travis.yml` file as described [here](https://docs.travis-ci.com/user/tutorial/).

[2020-03-16 11:56] salonipriyani commented on #57
Hi, sorry for the delay. Can I work on this issue?

[2020-03-16 11:57] chttrjeankr commented on #79
I feel the best way to go about this is by using `ubuntu` as a base image for `Dockerfile` and using `git clone` and `wget` for setting up the complete project. Am I thinking correctly?

[2020-03-16 13:19] vishakha-lall commented on #57
@salonipriyani this issue is already assigned, please look at other open issues.

[2020-03-16 13:20] vishakha-lall commented on #79
@chttrjeankr the base images that you have used must mostly be based on some Linux based OS. `git` and `wget` commands would work on them anyway.

[2020-03-17 10:11] ShebinJoseph commented on #52
is there any specfic website which we should look for he .csv dataset ? or shoud we make it ourself ?

[2020-03-17 11:52] radhikasethi2011 commented on #52
I would like to work on this issue. PLease kindly assign this issue to me!
Just one doubt, I'm not able to locate sentences.csv in the MapBot folder.

[2020-03-17 12:06] Pihu1998 commented on #52
Hi @ShebinJoseph @radhikasethi2011 , the `sentences.csv` file is inside the analysis folder which is  located inside the MapBot folder.
`MapBot`->`analysis`->`sentences.csv` .

[2020-03-17 12:10] radhikasethi2011 commented on #52
found it! I'd like to work on this issue!

[2020-03-17 14:55] Mansi145 commented on #47
Hey, @athityakumar @vishakha-lall is this issue still up? I don't have much experience working with Travis CI but I'd most definitely like to give it a try.

[2020-03-17 15:00] athityakumar commented on #47
@Mansi145 - Assigned this issue to you. Do keep track of your progress here 😄

[2020-03-18 04:05] vishakha-lall commented on #18
@maheshschand How's your progress? Are you ready to raise a PR?

[2020-03-18 04:07] vishakha-lall commented on #53
@preeti13456 how's the progress here? Are you stuck with something? When do you think you can raise a PR to resolve this?

[2020-03-18 04:08] vishakha-lall commented on #62
@Pihu1998 What is the update on this issue? Are you facing any blockers? When will you be ready to raise a PR?

[2020-03-18 04:09] vishakha-lall commented on #66
@adityabisoi What is the status on this issue? Are you stuck anywhere? When do you think you'd be ready to raise a PR?

[2020-03-18 04:12] vishakha-lall commented on #57
@eaglewarrior How's the progress on this issue?

[2020-03-18 04:13] preeti13456 commented on #53
No will start today.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Vishakha Lall <notifications@github.com>
Sent: Wednesday, March 18, 2020 9:37:31 AM
To: vishakha-lall/MapBot <MapBot@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [vishakha-lall/MapBot] Gather more data for the chatbot's d

[2020-03-18 06:42] janakrajchadha commented on #59
@preeti13456  I understand that tensorflow offers these capabilities as a library. Our current system is not using tensorflow models, is it possible to store models created using other libraries with tensorflow functions?
Since this application is being containerized using docker, does tensorflow have implicit capabilities which help with persisting model states and re-training as necessary?
If ye

[2020-03-18 07:06] janakrajchadha commented on #52
@Pihu1998 So sorry, I somehow missed your comment. No, we're not just looking for data related to google maps. As mentioned in the description,

It would be easier to find general conversation data assembled as datasets. However, if you happen to come across datasets which are related to maps, that would be great as well.

@radhikasethi2011 this is still assigned to @Pihu1998. Please check out the

[2020-03-18 07:58] chttrjeankr commented on #79
When we set up cloning the repository inside `Dockerfile` to set-up the project, we remove the user's ability to manually set up the `config.py` file and thus running `python init.py` (via `Dockerfile`) always results in `ValueError: Invalid API key provided`. Do you have any leads on how you'd want this to be fixed? @vishakha-lall

Also, if we clone the repository and run it, development on forke

[2020-03-18 08:27] preeti13456 commented on #59
sure

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Vishakha Lall <notifications@github.com>
Sent: Friday, March 13, 2020 8:31:12 AM
To: vishakha-lall/MapBot <MapBot@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [vishakha-lall/MapBot] Add functionality to per

[2020-03-18 09:25] vishakha-lall commented on #79
@janakrajchadha @athityakumar What are your thoughts on these points? We need some extensive discussion here.
- How do we implement manually adding `config.py`

As of now, cloning the repository would clone the default branch which is `gssoc-master`. Since that is the default development branch, I think this should be handled by simply changing the default branch.

[2020-03-18 09:28] vishakha-lall commented on #52
@janakrajchadha, @Pihu1998 is currently working on another issue.

[2020-03-18 09:30] vishakha-lall commented on #52
@radhikasethi2011 you can proceed to work on this. Please update your progress here.

[2020-03-18 10:32] Varshney200 commented on #49
@vishakha-lall @athityakumar  Can I take this issue?

[2020-03-18 11:15] athityakumar commented on #79
Hmm, can we have a branch name as an environment variable within the dockerfile and use that branch while doing git clone?

[2020-03-18 11:53] vishakha-lall commented on #49
@Varshney200 go ahead! Track your progress here and let us know if you face any blockers.

[2020-03-18 12:33] Pihu1998 commented on #62
Hi @vishakha-lall , I am not able to resolve this issue using f-strings as this issue is due to SQL-injection and f-strings are highly vulnerable to it. Some of the references among many which suggest this fact are:

https://stackoverflow.com/questions/53144535/pythons-string-formatting-throws-error-when-applied-within-mysql
https://www.reddit.com/r/learnpython/comments/9kjw47/f_string_and_sql/
ht

[2020-03-18 14:11] chttrjeankr commented on #79
The current error occurs because the `config.py` file has an invalid string as a GoogleMapsAPI key. Wouldn't using a different branch to defer from changing `config.py` lead to exposing a particular API key in that branch of the repository? Would that be secure, @vishakha-lall?

Yes, @athityakumar, that seems to be a better, more dynamic solution to use a different branch for cloning. Could you he

[2020-03-18 15:57] Rits1272 commented on #76
May I work on this?

[2020-03-18 16:01] Rits1272 commented on #78
May I work on this @vishakha-lall ?

[2020-03-18 16:10] athityakumar commented on #79
The solution is to move away from config.py to an environment file - one whose template is only included within git, actual file has to be created locally based on template.

[2020-03-18 16:15] vishakha-lall commented on #78
@Ritz1272 go ahead! Track your progress and let us know if you face any blockers.

[2020-03-18 16:21] vishakha-lall commented on #79
Exposing the API key is certainly not an option.

@athityakumar how would we still manage adding the API key manually. The only solution that I can think of is that before we run `docker-compose up` after cloning the repository in `Dockerfile`. Do you have any other ideas?

[2020-03-18 16:52] eaglewarrior commented on #57
Hey @vishakha-lall  sorry for being late, please give me time till this Saturday EOD will share the updates and code.

[2020-03-18 16:53] Rits1272 commented on #78
Yeah sure @vishakha-lall :)

[2020-03-18 17:00] janakrajchadha commented on #62
@Pihu1998 Thanks for these references, this makes it quite clear why any sort of string formatting would be vulnerable to attacks. Please go ahead and make the changes using the sql module's functions.

[2020-03-18 17:09] janakrajchadha commented on #79
@vishakha-lall @athityakumar As far as the security of the key is concerned, I believe the right way to go would be to pull either the API key (and update it in the env file) or the complete env file from a cloud storage service which requires user authentication which would restrict its access to verified sources. Thoughts?

[2020-03-18 18:27] athityakumar commented on #79
@vishakha-lall - Right, that's how people usually manage with `env` file. 🤷‍♂

@janakrajchadha - Yes, companies usually have this key-value store that user first has to authenticate through, to get secrets. This is the ideal state - but this would be more work. I think .env file is an easier way to proceed for starters - and then work on this. 😄

[2020-03-19 02:31] shreyanshi2228 commented on #45
Can I work on this issue ?

[2020-03-19 03:08] maheshschand commented on #18
I got some errors while installation and testing. I need to revert all
changes back that I made. So sorry for the delay. I will try to raise a pr
in 2 days.

On Wed, Mar 18, 2020 at 9:36 AM Vishakha Lall <notifications@github.com>
wrote:

[2020-03-19 03:08] vishakha-lall commented on #45
@shreyanshi2228, go ahead! This is a fairly straightforward issue, make sure you raise a PR soon :)

[2020-03-19 03:10] vishakha-lall commented on #79
@janakrajchadha I agree with @athityakumar, while your approach is certainly full proof, it certainly is a lot of effort.
@chttrjeankr you can go ahead with using the .env file which populates the config.py as required.

[2020-03-19 03:20] chttrjeankr commented on #79
Moving to a `env` file from `config.py` seems like the best option then, @vishakha-lall. I'm still confused as to where this `env` file would reside. If it's in the repository, it again raises the privacy issue. As @athityakumar mentions, each user has to create an `env` file locally from a particular template. How can we include this as a manual step in the automated `docker-compose up` routine w

[2020-03-19 03:54] adityabisoi commented on #66
@vishakha-lall I had my exams going on, I'll work on this and discuss on the slack channel as soon as possible.

[2020-03-19 04:05] vishakha-lall commented on #79
The `.env` file will not reside in the codebase. We can add a template to create the same in our repository to help users create it locally. The user would require tp manually create this before running `docker-compose up`
Here's the [documentation](https://docs.docker.com/compose/environment-variables/#the-env_file-configuration-option) around this.
With the environment variables set here, we wou

[2020-03-19 04:09] shreyanshi2228 commented on #45
okay:)

[2020-03-19 04:18] vishakha-lall commented on #79
@chttrjeankr Here's how I think we can automate `git clone`. We would certainly require a `docker-compose.yml` to even pull any images that we have pushed to DockerHub.
One way could be to specify in instructions to setup - to get just the `docker-compose.yml` file and create the `.env`, which when run will pull the images (the images could have the `git clone` and `wget`). Our mounted volumes sho

[2020-03-19 04:20] vishakha-lall commented on #66
@adityabisoi let me know when you are ready to work on the issue. I am opening this issue for others to claim for now.

[2020-03-19 05:11] chttrjeankr commented on #79
That part is unfortunately still unattended. It seemed confusing and I decided to finish this error first and then search for workarounds to upload in DockerHub.

So, what actual files would the user need to have before s/he can start the project?
1. `.env`
2. `docker-compose.yml`
3. `Dockerfile`

Will these be what needs to be pushed into the DockerHub repository?
Cause, it seems a bit confusing

[2020-03-19 05:33] chttrjeankr commented on #79
Only thing I found that kinda satisfies what we're trying to do is [Docker App](https://github.com/docker/app#docker-app). Something we haven't discussed and am totally new to. Would we like to try using that? @vishakha-lall @athityakumar @janakrajchadha

Using [`parameters.yml`](https://github.com/docker/app#using-parameters) also looks like a cool way to implement `.env`

[2020-03-19 06:59] adityabisoi commented on #66
@vishakha-lall I can work on this now. Please regenerate an API so that I can test it. Thanks.

[2020-03-19 07:45] adityabisoi commented on #66
@athityakumar @vishakha-lall Can you please review an individual test for a function mapsstatic
[code]
The above test checks the data returned, as well as its type(here, `str` since an URL is returned)

Once confirmed I can write tests for other functions too.

[2020-03-19 09:29] #45 closed

[2020-03-19 10:52] vishakha-lall commented on #66
Doesn't the second assert statement take care of the first one, what is the motivation to assert the type of the result? Are you using the `unittest` module? If so, can you adhere to the practices as described [here](https://docs.python-guide.org/writing/tests/#unittest).

[2020-03-19 11:07] adityabisoi commented on #66
@vishakha-lall Yes, the second check tests the output, the type assertion is just to show the output type. If that seems redundant, I shall remove it. Also, I am using `pytest` as my testing framework.

[2020-03-19 11:09] adityabisoi commented on #66
Am I good to go on this?

[2020-03-19 11:22] vishakha-lall commented on #66
If you're using `pytest` please collect all tests in a single class as defined [here](https://docs.pytest.org/en/latest/getting-started.html#group-multiple-tests-in-a-class)

[2020-03-19 11:33] Pihu1998 commented on #62
Yeah, sure @janakrajchadha.  :)

[2020-03-19 12:52] eaglewarrior commented on #57
Hey guys a quick update on the issue,

I have used the features featuresDump.csv for the experiment

**Algorithm               |          Accuracy**
 Naive bayes              |             0.85
SVM(without tuning) |             0.87
SVM(with tuning)      |              0.91
ADABOOST               |               0.98
XGBOOST                  |              0.99

I did not tune them further as I th

[2020-03-19 14:14] vishakha-lall commented on #79
The user would only need the `docker-compose.yml` file.
The `.env` file would be created by the user based on a template.
A user would *not* require the `Dockerfile`. Here's why:

Our `docker-compose.yml` will now pull the `chatbot` image directly from DockerHub. (Like you get the official java/mysql image). So `docker-compose up` would mount the volume of the `chatbot` image to the directory wher

[2020-03-19 14:19] vishakha-lall commented on #79
How about we try the current approach, this would require some more study.

[2020-03-19 14:21] vishakha-lall commented on #17
How's the progress here? @srishti-nema I know we do require the service to be ready to complete this, but have we completed the framework?

[2020-03-19 14:25] #27 closed

[2020-03-19 14:53] chttrjeankr commented on #79
I think I get it now. Thanks for this detailed explanation. Would this `chatbot` image be linked to my DockerHub (ie- `<my_username>/chatbot` will be the image) then, for now?

[2020-03-19 15:41] vishakha-lall commented on #79
Yes, go ahead!

[2020-03-20 02:12] Pihu1998 commented on #62
Hi @janakrajchadha @vishakha-lall , I was implementing prepared statements to resolve this issue.
` cur.execute("INSERT INTO chat_table(root_word,verb,sentence) VALUES (%s, %s, %s)", root, verb, H)`

But I am getting this error and I am not able to resolve this:

    databaseconnect.add_to_database(classification,subj,root,verb,H)
  File "C:\Users\PRANAMIKA\MapBot\logger_config.py", line 14, in wr

[2020-03-20 02:44] vishakha-lall commented on #62
[This] (https://stackoverflow.com/a/19242563/8704316) should help you, add the values in a tuple.

[2020-03-20 02:58] Pihu1998 commented on #62
Hi @vishakha-lall , thanks for the reference. I also tried with the given method but getting another error.

    cur.execute(query, params)
  File "C:\Python37-32\lib\site-packages\mysql\connector\cursor.py", line 1216, in execute
    parameters=self._prepared['parameters'])
  File "C:\Python37-32\lib\site-packages\mysql\connector\connection.py", line 1097, in cmd_stmt_execute
    long_data_used,

[2020-03-20 03:08] vishakha-lall commented on #62
Looks like you passed a list instead of the tuple as suggested in the answer. Try using a tuple.

[2020-03-20 05:30] chttrjeankr commented on #79
Went ahead and cleared a lot of things. :tada: Now, I find dependencies of #49 and #62 on this issue. Unless #62 is closed, testing the PR for this issue doesn't work as expected. Also, #49 has to be handled partially in this issue. I know it isn't in the scope of this issue, but it'd be better to add `.env` files in this PR to have a bug free program flow.

Thoughts? @athityakumar @vishakha-lall

[2020-03-20 05:36] vishakha-lall commented on #49
@Varshney200 what is the update on this issue?

[2020-03-20 05:41] vishakha-lall commented on #79
@chttrjeankr this sounds reasonable.
You could get started with your work on the `Dockerfile` and build the image till the dependencies are resolved.

Not sure what this means exactly, can you clarify?

[2020-03-20 05:45] vishakha-lall commented on #57
@janakrajchadha can you take a look at @eaglewarrior's progress so far?

[2020-03-20 05:47] vishakha-lall commented on #18
@maheshschand if you're stuck with installation, I would recommend that you complete that first before claiming issues. I am unassigning this for now, let me know when you are ready to pick this up.

[2020-03-20 05:48] vishakha-lall commented on #78
@Rits1272 what is the progress on this issue?

[2020-03-20 05:51] vishakha-lall commented on #52
@radhikasethi2011 what is the progress on this issue? When will you be ready to raise the PR?

[2020-03-20 05:52] chttrjeankr commented on #79
Sure. The `Dockerfile` is done too. I'll build an image and wait for the dependencies to be resolved.

I mean to say since `.env` files are to be created by the user using a template, `config.py` also changes, as we discuss [here](https://github.com/vishakha-lall/MapBot/issues/79#issuecomment-601202794). I needed to make minor changes to `config.py`, `requirements.txt` and introduce `.env` in the

[2020-03-20 05:54] vishakha-lall commented on #59
@preeti13456 what is the progress on this issue? When will you be ready to raise a PR?

[2020-03-20 05:57] vishakha-lall commented on #53
I am unassigning this issue, as a guideline we only recommend claiming one issue at a time.

[2020-03-20 06:03] Rits1272 commented on #78
I am working on another issue. Kindly unassign me @vishakha-lall

[2020-03-20 06:04] Rits1272 commented on #73
May I work on this @vishakha-lall?

[2020-03-20 06:12] vishakha-lall commented on #73
Track your progress here @Rits1272 :)

[2020-03-20 06:45] maheshschand commented on #18
OK.

On Friday, March 20, 2020, Vishakha Lall <notifications@github.com> wrote:

[2020-03-20 07:06] Varshney200 commented on #49
![image](https://user-images.githubusercontent.com/51263417/77142718-fffb5c00-6aa6-11ea-97d0-1a846431422f.png)

I am not able to add these values in the .env file
Also do I have to just initialize the environment variables in the .env file and they would be setup in the config.py as it has references in other modules?

[2020-03-20 07:22] radhikasethi2011 commented on #52
Working on it. MySQL is giving an issue, will be making the pull request by tomorrow definitely.

[2020-03-20 07:25] vishakha-lall commented on #49
Why is that so?

[2020-03-20 07:33] Varshney200 commented on #49
in the env file, all these variables have already been set up.. javahome has to be set by the user.. how should I again set it to '/usr/local/openjdk-11/bin/java'

[2020-03-20 08:24] preeti13456 commented on #59
Yes

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Vishakha Lall <notifications@github.com>
Sent: Friday, March 20, 2020 11:24:13 AM
To: vishakha-lall/MapBot <MapBot@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [vishakha-lall/MapBot] Add functionality to per

[2020-03-20 09:12] vishakha-lall commented on #49
These variables are conditionally set, if `DOCKER` has a value, then the values must be different

[2020-03-20 09:15] vishakha-lall commented on #79
How about we take them up here and increase the difficulty of this issue to account for that? We can edit the scope of the issue.

[2020-03-20 09:19] preeti13456 commented on #53
ok

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Vishakha Lall <notifications@github.com>
Sent: Friday, March 20, 2020 11:27:17 AM
To: vishakha-lall/MapBot <MapBot@noreply.github.com>
Cc: preeti13456 <preetijecrc99@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [vishakha-lall/MapBot] Gather more data for the

[2020-03-20 09:41] Varshney200 commented on #49
I solved that problem by using alternate variable names.
![image](https://user-images.githubusercontent.com/51263417/77151277-989bd700-6abb-11ea-9b37-ad4ef9e17159.png)

I am doing something like this in the config.py script.. is it okay? if we do this we no longer have to git ignore config.py and also we can completely remove the config.py but currently it has references in other scripts so what s

[2020-03-20 14:31] vishakha-lall commented on #59
@preeti13456 I'm not receiving updates from your end. I'm unassigning this issue.

[2020-03-20 14:47] vishakha-lall commented on #53
I'm unassigning this issue @preeti13456, I'm not receiving any updates from your end.

[2020-03-20 14:53] vishakha-lall commented on #49
Why are there multiple declarations for `user` in line 4,5.
Let's not remove `config.py` yet. This image represents the same file correct?

What is `import dotenv`?

[2020-03-20 15:03] chttrjeankr commented on #49
This is a module in Python that can be looked up [here](https://pypi.org/project/python-dotenv/). This is a really easy way of loading the environment variables from `.env` files and makes the code look a lot cleaner. To support this, `requirements.txt` needs to have another line appended.

[2020-03-20 15:07] preeti13456 commented on #59
NO Wait I have been busy today push the PR tomorrow fr sure.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Vishakha Lall<mailto:notifications@github.com>
Sent: Friday, March 20, 2020 8:01 PM
To: vishakha-lall/MapBot<mailto:MapBot@noreply.github.com>
Cc: preeti13456<mailto:preetijecrc99@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [vi

[2020-03-20 15:34] Aman-Codes opened #86 "Add ISSUE_TEMPLATE.md"
@vishakha-lall  I am a GSSOC participant and I would like to add an issue template folder with pull request template and a new issue template.
![updated pull request](https://user-images.githubusercontent.com/54680709/77179686-ce0de800-6aee-11ea-97f5-6c78a9042895.PNG)

[2020-03-20 16:22] vishakha-lall commented on #86
@Aman-Codes please use [this](https://github.com/vishakha-lall/MapBot/issues/11) dummy issue as a guideline

[2020-03-20 16:26] vishakha-lall commented on #68
Please use [this](https://github.com/vishakha-lall/MapBot/pull/12) dummy PR as a guideline

[2020-03-20 16:29] Aman-Codes commented on #11
Ok ma'am

[2020-03-20 17:08] Varshney200 commented on #49
That might be a mistake. I'll fix it

Yes

Thanks @chttrjeankr for clarifying

[2020-03-20 17:15] Varshney200 commented on #49
Final few doubts
1)how should I add the .env file to the repo as it is git ignored? I am really confused
2)should I remove config.py from the .gitignore file?
3)if these changes would be committed we would need to make changes in the README too and requirements.txt would also be ammended.. should I also make these changes?

[2020-03-20 17:27] asthacs commented on #68
Is this issue up for grabs? If yes, I would like to take it up!

[2020-03-20 18:02] vishakha-lall commented on #68
@asthacs take it up! :)

[2020-03-20 18:06] vishakha-lall commented on #49
You need to add a template .env so that users can refer to it and create their own .env with their API keys and DB passwords

Yes, it doesn't need to be ignored anymore

Yes, certainly these changes need to be made.

[2020-03-20 18:15] Varshney200 commented on #49
.env files are to be gitignored so should this template be a text file and the user should be asked to make changes into it and rename it as .env in their local repo?

[2020-03-20 18:16] asthacs commented on #68
Just confirming- I have to make a file from where people can simply copy paste the format for pull request and edit it as per their specific PR, right?

[2020-03-21 09:36] vishakha-lall commented on #68
[Here's](https://help.github.com/en/github/building-a-strong-community/creating-a-pull-request-template-for-your-repository) some more information on this issue.

[2020-03-21 10:23] vishakha-lall commented on #47
@Mansi145 what is the progress on this issue? When will you be ready to raise a PR?

[2020-03-21 10:24] vishakha-lall commented on #17
@athityakumar @srishti-nema How are things going on with our UI? What kind of progress are we looking at already?

[2020-03-21 10:25] vishakha-lall commented on #62
@Pihu1998 can you share your progress? When will you be ready to raise a PR?

[2020-03-21 10:49] srishti-nema commented on #17
I am still going through the Bootstrap documentation. :confused:

[2020-03-21 11:14] janakrajchadha commented on #57
A few questions here.
Which kernels did you use for SVM?
Did you also look at other metrics (Precision, Recall, F-score)? (If not, I recommend that you do)
You seem to have trained and predicted on the same set which is why boosting algorithms seem to have done so well.
However, I do suspect overfitting here so we'd have to evaluate on a test set as well.
As far as seeds are concerned, you can set

[2020-03-21 12:42] Pihu1998 commented on #62
Hi @vishakha-lall , I am doing the same way as you said:
`cur.execute("INSERT INTO chat_table(root_word,verb,sentence) VALUES (?, ?, ?)", (root, verb, H))`

But still getting the same error. I tried posting the question on Reddit regarding the error also with the code, but they suggested the same thing. Please help!

[2020-03-21 13:20] chttrjeankr commented on #62
Seeing the above word in the error I get an instinct that you may not be converting each argument to string explicitly. I think that needs to be done. Maybe, that'll solve it.

Not totally a wild guess though. If you browse the history of the file `databseconnect.py` you'll see typecasting existed before a PR was merged. Look [here](https://github.com/vishakha-lall/MapBot/commit/05586966da1ad7ec69

[2020-03-21 13:24] Mansi145 commented on #47
@vishakha-lall Yes, I'm working on the issue. Can you please give me two more days to raise the PR?

[2020-03-21 13:52] chttrjeankr commented on #79
A minor mindless blocker I've been facing is this:

I was pretty sure the above ask could be handled by using the following code in `docker-compose.yml`
[code]
where `/usr/var/MapBot` is the location of the cloned repository in the container, which is bind to the current directory `.` in which `env` files and `docker-compose.yml` resides.

But it seems to create an error and the current directory

[2020-03-21 13:55] eaglewarrior commented on #57
Hey @janakrajchadha

I have used rbf for svm
Yes I have looked at the whole classification report it was good almost the same as accuracy

I will try this all set of the algorithm in 80/20 split using the random seed of 42
 and update the same

[2020-03-21 17:33] #86 closed

[2020-03-22 04:44] Pihu1998 commented on #62
Thanks for the above suggestion @chttrjeankr . So, are you suggesting to typecast the arguments to string as discussed? I am currently doing this way:
` cur.execute("INSERT INTO chat_table(root_word,verb,sentence) VALUES (%s, %s, %s)", (root, verb, H))`

Thanks for helping :)

[2020-03-22 04:51] chttrjeankr commented on #62
I mean `str(root)` and so on.

[2020-03-22 05:05] Pihu1998 commented on #62
Yes @chttrjeankr , I have already tried this way. But, getting this error:

Do you have any other suggestions for it? Thanks :)

[2020-03-22 05:59] chttrjeankr commented on #62
This seems like a syntax error dealing with `{`. Have you checked for lone `{` braces for that may be left in the SQL queries due to f-strings?

Also, try `(str(root),str(verb),H)` instead of `(str(root),str(verb),str(H))`. `H` created a problem for me too.

[2020-03-22 06:12] #49 closed

[2020-03-22 10:51] janakrajchadha commented on #62
@Pihu1998 go ahead and open a PR with the issue that you're facing. I'll test it locally and share some suggestions on how we can fix it completely. Also, share the SQL query for which it was giving you the error.

[2020-03-22 11:16] Pihu1998 commented on #62
Hi @chttrjeankr , I tried this way. Its not working.

I couldn't find any lone '{' braces in the code. This is my updated code: https://gist.github.com/Pihu1998/648fffdbe8a14e983602b49e148307a4

Could you please help me in finding it out, if any? Thank you so much :)

[2020-03-22 11:19] Pihu1998 commented on #62
Yeah, sure @janakrajchadha .

[2020-03-22 13:05] msk4862 commented on #74
@vishakha-lall  Can I work on this issue?

[2020-03-22 14:25] vishakha-lall commented on #74
Track your progress here @msk4862. Use [this](https://github.com/vishakha-lall/MapBot/pull/85) PR for reference.

[2020-03-22 15:54] #73 closed

[2020-03-22 15:56] #19 closed

[2020-03-22 15:59] Rits1272 commented on #78
May I work on this issue @vishakha-lall ?

[2020-03-22 17:09] msk4862 commented on #74
@vishakha-lall I've some doubts:
1) Some methods of `databaseconnect.py` does not accept any inputs, So, how to test them for invalid input case?
2) Do I need to create a temporary database for testing methods, which are updating db in some way?

[2020-03-23 05:39] radhikasethi2011 commented on #52
Update - Just fixing one problem in my code.
Will then be ready to create a PR

[2020-03-23 06:23] #66 closed

[2020-03-23 06:47] adityabisoi commented on #18
@vishakha-lall I want to work on this issue. Please assign it to me.

[2020-03-23 07:00] vishakha-lall commented on #18
Go ahead @adityabisoi, track your progress here. Let us know if you face any blockers.

[2020-03-23 07:06] vishakha-lall commented on #74
You need not test them for invalid input case, but you check if the method raises any exception.

Yes, you can create a dummy database for testing, making sure it is completely cleaned after completing the testing.

[2020-03-23 12:35] vishakha-lall commented on #79
Does it show any logs of volume mounting before it throws this error?

I don't see any reason this is incorrect. For all we know, it's rather organised. What do you think @chttrjeankr ?

[2020-03-23 12:37] vishakha-lall commented on #47
@Mansi145 how is the progress coming along for this issue?

[2020-03-23 12:38] vishakha-lall commented on #57
@janakrajchadha @eaglewarrior are we blocked with some dependencies?

[2020-03-23 13:39] #68 closed

[2020-03-24 06:06] chttrjeankr commented on #79
`docker logs mapbot_bot` only show
`python: can't open file 'init.py': [Errno 2] No such file or directory`

It's not incorrect and in fact, is the best way to do what we're trying to achieve since [bind mounts have limited functionality compared to volumes](https://docs.docker.com/storage/bind-mounts/). Only the fact that the `pwd` becomes the one inside `code` volume and since it contains just a

[2020-03-24 07:53] janakrajchadha commented on #57
@vishakha-lall not that I'm aware of at the moment. @eaglewarrior any updates?

[2020-03-24 08:43] vishakha-lall commented on #79
We can use COMMAND to move a file from local to mounted volume during docker-compose up.

[2020-03-24 08:45] vishakha-lall commented on #79
@chttrjeankr I would like you to logically split this issue into two, the deliverables here are a little more complicated than we anticipated and we would like to maintain a common standard of difficulty across issues.
What you can do now, is create a new issue and I shall assign it to you. You can continue working on them together and raise individual PRs to resolve them.

[2020-03-24 14:10] chttrjeankr opened #99 "Removing the StanfordCoreNLP pre-requisite when using Docker"
**Is your feature request related to a problem? Please describe.**
Currently, when setting up using Docker, the user has to download the StanfordCoreNLP package and move it to the cloned directory as per set-up instructions :

This issue deals with a part of #79 which has been logically split here, after [this](https://github.com/vishakha-lall/MapBot/issues/79#issuecomment-603107810) discussion.

[2020-03-24 14:41] Aman-Codes opened #100 "Add CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
I am a GSSOC participant and I would like to add CONTRIBUTING.md file and update the README.md file to include its link.

**Describe the solution you'd like**
@vishakha-lall  I would like to add CONTRIBUTING.md file to include the following mentioned features

How to clone the repository
Adding reference to the original repository

[2020-03-24 14:53] chttrjeankr commented on #100
You can take a look at [this](https://github.com/vishakha-lall/MapBot/blob/gssoc-master/GSSoC.md#contribution-flow---how-do-i-start-contributing), introduced by @vishakha-lall as a contributing guide for GSSoC participants. Cheers! :+1:

[2020-03-24 15:06] Aman-Codes commented on #100
@chttrjeankr  Surely that was a very helpful guide but my idea was to add a contributing.md file which will contain the basic git commands for beginners for how to clone this repository and contribute to it.
Please suggest whether this file would be required.

[2020-03-24 15:49] vishakha-lall commented on #100
The readme as of now is fairly detailed and I believe a new issue is redundant. Closing this issue.

[2020-03-24 15:49] #100 closed

[2020-03-24 17:15] eaglewarrior commented on #57
I will give an update by EOD tomorrow by all set of the algorithm in 80/20 split using the random seed of 42

[2020-03-24 20:56] msk4862 commented on #74
@vishakha-lall  *method `clear_table` is throwing errors!*

`describe_table` is being invoked from `clear_table` with one missing argument.

[2020-03-25 04:35] vishakha-lall opened #101 "BugFix: Fix incorrect parameters in describe_table in module databaseconnect.py"
**Describe the bug**
The method declaration and call have inconsistent parameters as a result of which `clear_database` throws an error.

**Expected behavior**
`clear database` should work without errors.

**Additional context**
NA

[2020-03-25 04:37] vishakha-lall commented on #74
@msk4862 thanks for pointing this out, taking it up immediately.

[2020-03-25 04:39] chttrjeankr commented on #101
I think this bug circumvented my check in a previous PR. Can look into it if I'm assigned. 😊

[2020-03-25 04:41] vishakha-lall commented on #101
@chttrjeankr it's a simple fix. Hopefully, we'll merge the PR to resolve this soon.

[2020-03-25 05:09] chttrjeankr commented on #101
I found some confusion arising [here](https://github.com/vishakha-lall/MapBot/commit/3c990c01a04ee727e0f509d0af697a925e81fd2c#diff-920f3dc59bd2c6e71ed0dc42289a0718R208) due to my nomenclature [here](https://github.com/vishakha-lall/MapBot/commit/05586966da1ad7ec69f88a25e49b392f4b5c92f5#diff-920f3dc59bd2c6e71ed0dc42289a0718R183). I'll fix it right now and create a PR.

[2020-03-25 06:08] #101 closed

[2020-03-25 06:12] vishakha-lall commented on #74
@msk4862 This has been resolved in [PR](https://github.com/vishakha-lall/MapBot/pull/102), you can pull the latest code and continue working on the issue.

[2020-03-25 06:29] msk4862 commented on #74
okay

[2020-03-25 10:56] msk4862 commented on #74
@vishakha-lall  There is an issue in `get_chat_response` method also in the following line:
`chat_id = random.randint(1, total_chat_records+1)`, It will return an inavlid id in some cases because
 `randint` can return `total_chat_records+1` also as a chat_id which is an inavlid id.

@vishakha-lall If you can, please assign this issue to me only.

[2020-03-25 11:45] vishakha-lall commented on #74
@msk4862 thanks for pointing this out. As I see, the resolution to this requires getting rid of the `+1`. Since you have expressed your interest to resolve it, I request you to make this change in the same issue.

[2020-03-25 11:54] msk4862 commented on #74
okay

[2020-03-25 16:57] vishakha-lall commented on #17
This issue has been pending since long, what is the status @srishti-nema?

[2020-03-25 21:51] chttrjeankr commented on #79
This issue currently depends on #99, which was created after logically splitting this issue.

UPDATE: Dependant issue resolved by #104.

[2020-03-26 02:43] athityakumar opened #105 "Add doctests everywhere and include tests in Travis CI builds"
**Is your feature request related to a problem? Please describe.**
It'd be good to check if docstring documentation is present for all methods/modules.

**Describe the solution you'd like**
The one who takes up this issue should:
- Add docstring documentation wherever it's not present
- Include it in Travis CI builds like `pytest --doctest-modules ...` in `.travis.yml`

**Describe alternatives you

[2020-03-26 03:07] adityabisoi opened #106 "Add remaining tests and refactor URLs in googleMapsApiModule.py"
**Is your feature request related to a problem? Please describe.**
In `googleMapsApiModule.py` half of the functions do not have their tests yet. Also, all the URLs have not been migrated to `constants.py`

**Describe the solution you'd like**
A PR to this issue must include:
* Adding tests for all the functions in the module
* Refactor and migrate URLs to `constants.py`
* Make document-related ch

[2020-03-26 08:53] #99 closed

[2020-03-26 14:00] janakrajchadha commented on #57
@eaglewarrior please open a PR for this

[2020-03-26 14:53] eaglewarrior commented on #57
I am getting best output from SVC with precision : 0.7866666666666666 , recall:0.8 and weighted F1 score :0.7805555555555556 and accuracy :0.8 , rest are giving <0.75 of all metrics mentioned , should I raise a PR for SVM

[2020-03-27 06:28] chttrjeankr commented on #79
I need some clarifications on this issue yet again.
https://github.com/chttrjeankr/MapBot/blob/gssoc-master/docker-compose.yml#L10

[2020-03-27 06:38] chttrjeankr commented on #79
I need some clarifications on this issue yet again. And some advice too. @vishakha-lall

[Line 10](https://github.com/chttrjeankr/MapBot/blob/gssoc-master/docker-compose.yml#L10) in `docker-compose.yml` has a bind mount that stores the initial script for `mapbot_db` container.

Also when I create an image on DockerHub, after building a modified `Dockerfile`, would [this](https://github.com/chttrje

[2020-03-27 07:08] vishakha-lall commented on #79
@chttrjeankr
[This](https://github.com/chttrjeankr/MapBot/blob/eafbd3739fb1235c056a01f13b65cf8ea476d375/Dockerfile#L6) makes sure that our code in the local is moved to the file system of the container image, so it certainly has the reference to the entry point script.

AFAIK, it shouldn't be a problem, since the built image already has the entrypoint script. Pulling the image would have all code

[2020-03-27 12:03] som23ya commented on #78
can i work on this?

[2020-03-27 13:19] chttrjeankr commented on #79
But [like it was discussed](https://github.com/vishakha-lall/MapBot/issues/79#issuecomment-601202794), the user will NOT have the local files, just the `docker-compose.yml` and `.env` files. Should the user then have to have the initialization scripts as well?

Okay. I'm going headfirst into trying it out then.

Also, could you help me out with [this](https://github.com/vishakha-lall/MapBot/issues

[2020-03-27 15:14] vishakha-lall commented on #79
Both Dockerfile and docker-compose have the ability to specify entrypoint scripts. [This](https://docs.docker.com/compose/compose-file/#entrypoint) is how docker-compose uses them. The difference lies in the order of the two entrypoint scripts being executed. For our case either should be good.

[2020-03-27 15:54] vishakha-lall commented on #78
This issue is currently assigned @som23ya. You can take a look at other open issues.

[2020-03-28 12:29] janakrajchadha commented on #57
@eaglewarrior Open a PR with all possible models (i.e. model types and parameter values) and pick the best one for the final training.

[2020-03-28 16:39] #18 closed

[2020-03-29 03:58] adityabisoi commented on #106
@vishakha-lall @janakrajchadha @athityakumar Shall I start working on the issue?

[2020-03-29 04:44] vishakha-lall commented on #106
@adityabisoi go ahead!

[2020-03-29 15:45] #79 closed

[2020-03-29 15:47] #47 closed

[2020-03-29 17:17] eaglewarrior commented on #57
Raised a pull request #108  please review and let me know if any issues and Ada boost is giving accuracy :0.800,precision: 0.8095,recall:0.8

[2020-03-30 07:00] chttrjeankr commented on #76
**TL;DR**: I plan on introducing a program `telegram.py` that'd substitute `init.py` for the purpose when the user wants to interact with the bot on Telegram. This program's code will contain requests to the Telegram API and proper handling of responses sent back.

**What'll actually happen**: For now, introducing another environment variable (`TELEGRAM_BOT_TOKEN`) for using the Telegram interface

[2020-03-30 07:15] vishakha-lall commented on #76
@chttrjeankr assigned this to you :)
You know the drill, track your progress here

[2020-03-30 11:38] eaglewarrior commented on #53
Hey @vishakha-lall  and @janakrajchadha  I found something https://github.com/hellohaptik/haptik_open_datasets many be useful

[2020-03-30 11:42] eaglewarrior commented on #53
https://lionbridge.ai/datasets/15-best-chatbot-datasets-for-machine-learning/

there are many @shreyanshi2228 and @preeti13456  maybe you can try to manually label this dataset and make the current data-rich, data enrichment is one of the important components of data science pipeline and purpose it to the mentors of this project, Just to help I have commented here !!

[2020-03-30 13:29] shreyanshi2228 commented on #53
Thank you :)

[2020-03-30 15:46] chttrjeankr opened #110 "Code Formatting"
**Is your feature request related to a problem? Please describe.**
Code formatting is an essential part of an open-source project to maintain uniformity and readability.

**Describe the solution you'd like**
We can look at solutions like [`psf/black`](https://black.readthedocs.io/en/stable/). (a personal favourite due to it's simplicity)

A PR where all code is `black` formatted and tested should

[2020-03-30 19:07] payal-98 commented on #77
can I  work on this issue?

[2020-03-30 19:20] chttrjeankr commented on #110
Would like to format and create the necessary changes. ☺️

[2020-03-31 08:16] vishakha-lall commented on #77
@payal-98 can you elaborate your approach to solve this issue before we assign it to you?

[2020-03-31 15:50] payal-98 commented on #77
By using Flask and ngrok...
Right now I am searching on this ..

[2020-03-31 15:54] chttrjeankr commented on #110
Waiting for #109 to be merged to create a PR for this issue. :slightly_smiling_face:

[2020-04-01 06:12] #76 closed

[2020-04-02 05:04] #22 closed

[2020-04-02 05:14] #106 closed

[2020-04-02 05:38] vishakha-lall opened #113 "Add a script to call the delete table method in databaseconnect.py"
**Is your feature request related to a problem? Please describe.**
Developers need to clear their tables for testing, or simply clear all learn statements. This should not be a part of the bot, rather only for developers.

**Describe the solution you'd like**
`databaseconnect.py` already has all the methods required for this issue. All that is required is a new script `cleardb.py` that interactive

[2020-04-02 06:54] #110 closed

[2020-04-02 09:14] #74 closed

[2020-04-02 10:11] shreyanshi2228 commented on #52
https://www.kaggle.com/eibriel/rdany-conversations/data#robot_text.txt
@janakrajchadha I found this.
Is this correct?

[2020-04-02 17:21] janakrajchadha commented on #52
Hi @shreyanshi2228. This data is definitely helpful. However, @radhikasethi2011 was continuously working on this issue and was unassigned due to a minor misunderstanding and some setup problems. She has completed her work on this issue and will be raising a PR. I think she has already included this dataset in her work but she can take a look.
Thanks for the finding though and keep an eye out for n

[2020-04-02 17:21] janakrajchadha commented on #52
@radhikasethi2011  Please go ahead and open the PR for this issue

[2020-04-03 01:25] radhikasethi2011 commented on #52
Yes sir I am just doing it

[2020-04-03 14:01] chttrjeankr commented on #75
I'd like to try solving this one. @vishakha-lall

[2020-04-03 15:32] chttrjeankr opened #117 "Code formatting"
**Is your feature request related to a problem? Please describe.**
Code formatting required after #103 was merged.

**Describe the solution you'd like**
 * Formatting using `psf/black`.
 * Checks included in `.travis.yml` will be run locally and tested.

**Describe alternatives you've considered**
No alternative other than manually formatting unless Travis CI is set up to build correctly.

**Addit

[2020-04-03 15:37] chttrjeankr commented on #117
I'd like to mend this. @vishakha-lall

[2020-04-04 14:50] #117 closed

[2020-04-06 08:22] #75 closed

[2020-04-06 15:49] chttrjeankr opened #120 "Travis CI on test_databaseconnect.py doesn't work."
**Describe the bug**
`pytest` on `test_databaseconnect.py` doesn't work locally. Neither does it work on Travis CI.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `pytest test_databaseconnect.py` locally.
2. Go to build log.
3. ![image](https://user-images.githubusercontent.com/39518771/78577429-b0a97f80-784b-11ea-912b-05a19c4e2a87.png)

**Expected behavior**
Build should pass.

**Addit

[2020-04-06 15:50] chttrjeankr commented on #120
I can work on this. :slightly_smiling_face:

[2020-04-07 14:18] chttrjeankr commented on #59
I found a pretty [simple way](https://scikit-learn.org/stable/modules/model_persistence.html) of how a model can be persisted across various runtimes. Persisting it in docker wouldn't be much of trouble either.

Implementing regularly timed retraining is also achievable where the program would check for the last modified time of the `pickle` file and compare it to the present time during the progr

[2020-04-07 16:33] #57 closed

[2020-04-08 08:10] Sapna2001 opened #124 "Update Readme."
Readme can be updated with details of mentors,admins,slack channels and details of gssoc. Please assign me this issue.

[2020-04-08 14:04] #62 closed

[2020-04-08 15:44] #120 closed

[2020-04-09 03:17] vishakha-lall commented on #124
Redundant, not required.
Does not follow Issue template either.

[2020-04-09 03:17] #124 closed

[2020-04-09 17:35] gayathri-venu commented on #113
hey i would like to work on this, could you please assign it to me :)

[2020-04-11 05:56] #59 closed

[2020-04-11 09:46] chttrjeankr opened #126 "Maintenance of PR quality"
**Is your feature request related to a problem? Please describe.**
Each PR will now be tested against Travis CI and thus users need to test them locally before creating a PR, so that failed builds can be avoided.

**Describe the solution you'd like**
The need for `CONTRIBUTING.md` grows after #121. Urging to run checks locally and then creating a PR is becoming more important. Also, the PR templat

[2020-04-12 12:11] #126 closed

[2020-04-12 13:52] chttrjeankr commented on #17
I'd like to use Flask to create a minimal 'chat-like' interface for this issue. :slightly_smiling_face:

[2020-04-13 13:17] chttrjeankr opened #128 "Prefering googlemaps object more than JSON"
**Is your feature request related to a problem? Please describe.**
As in [here](https://github.com/vishakha-lall/MapBot/blob/gssoc-master/googleMapsApiModule.py#L97-L106), `result` is not productively used to obtain the `elevation` needed.

Whereas, the reference program below uses more of the `googlemaps` module and depends less on forming URLs and requesting JSON, thus reducing the chance of mis

[2020-04-13 13:22] chttrjeankr commented on #128
@vishakha-lall, I'd like to take this up myself. :slightly_smiling_face:

[2020-04-13 15:44] #52 closed

[2020-04-14 06:27] #128 closed

[2020-04-14 06:28] vishakha-lall commented on #113
@gayathri-venu I have assigned this issue to you, please track your progress here and let us know if you face any blockers.

[2020-04-14 06:43] chttrjeankr opened #130 "Change bot responses to something more informative"
**Is your feature request related to a problem? Please describe.**
The bot currently returns only a single statement: "I can help you with that" as an answer.

**Describe the solution you'd like**
The responses should be varying and based on what was asked of the bot. Answers can be direct when asked in the context of Maps, and can be URLs in some cases, that the user can visit to get the answer.

[2020-04-15 14:34] #130 closed

[2020-04-15 15:04] vishakha-lall opened #132 "Integrate timezone API call to bot response"
**Is your feature request related to a problem? Please describe.**
While `googleMapsApiModule.py` has already implemented `timezone` as a module, it is desired that the results of these API are seen in bot conversations.

**Describe the solution you'd like**
This issue would would require carefully studying the intent of the API, the kind of response it returns. On the basis of these, the followin

[2020-04-15 15:06] vishakha-lall opened #133 "Integrate geocoding API call to bot response"
**Is your feature request related to a problem? Please describe.**
While `googleMapsApiModule.py` has already implemented `geocoding` as a module, it is desired that the results of these API are seen in bot conversations.

**Describe the solution you'd like**
This issue would would require carefully studying the intent of the API, the kind of response it returns. On the basis of these, the followi

[2020-04-15 15:08] vishakha-lall opened #134 "Integrate mapsstatic API call to bot response"
**Is your feature request related to a problem? Please describe.**
While `googleMapsApiModule.py` has already implemented `mapsstatic` as a module, it is desired that the results of these API are seen in bot conversations.

**Describe the solution you'd like**
This issue would would require carefully studying the intent of the API, the kind of response it returns. On the basis of these, the follow

[2020-04-15 15:09] vishakha-lall opened #135 "Integrate elevation API call to bot response"
**Is your feature request related to a problem? Please describe.**
While `googleMapsApiModule.py` has already implemented `elevation` as a module, it is desired that the results of these API are seen in bot conversations.

**Describe the solution you'd like**
This issue would would require carefully studying the intent of the API, the kind of response it returns. On the basis of these, the followi

[2020-04-15 15:10] vishakha-lall opened #136 "Integrate places API call to bot response"
**Is your feature request related to a problem? Please describe.**
While `googleMapsApiModule.py` has already implemented `places` as a module, it is desired that the results of these API are seen in bot conversations.

**Describe the solution you'd like**
This issue would would require carefully studying the intent of the API, the kind of response it returns. On the basis of these, the following

[2020-04-17 15:06] #78 closed

[2020-04-17 15:08] Rits1272 commented on #77
May I work on this issue @vishakha-lall?

[2020-04-18 11:00] #17 closed

[2020-04-19 08:01] chttrjeankr commented on #135
I'd like to start working on this one. @vishakha-lall

[2020-04-21 03:16] darkmatter18 commented on #136
@vishakha-lall Can I work on it?

[2020-04-21 04:50] vishakha-lall commented on #136
@darkmatter18 I have assigned this to you. Make sure you track your progress continuously and let us know in case of any blockers.

[2020-04-21 05:50] chttrjeankr commented on #132
I'd like to start working on this. @vishakha-lall

[2020-04-21 05:54] chttrjeankr commented on #133
AFAIK, `geocoding` is _already_ being dealt with, with this part of code in `chatbot.py`:
![image](https://user-images.githubusercontent.com/39518771/79830157-77801c00-83c2-11ea-959a-7d00679a6b44.png)

It's only then that the current version of MapBot can successfully answer questions like

@vishakha-lall

[2020-04-21 09:55] salonipriyani opened #140 "Normalization of microtext"
**Is your feature request related to a problem? Please describe.**
The text from the user could be erroneous (due to typos or spelling mistakes) or have abbreviated words (BLR for Bangalore Airport).

**Describe the solution you'd like**
First, using a lexical approach, the abbreviations and acronyms will be handled and then using a phonetic algorithm, Soundex, the spelling mistakes will be correc

[2020-04-21 11:58] vishakha-lall commented on #133
That is true. @chttrjeankr thank you for pointing this out.

[2020-04-21 11:58] #133 closed

[2020-04-21 15:07] radhikasethi2011 opened #141 "Project testing on multiple Operating systems"
**Is your feature request related to a problem? Please describe.**
Travis CI currently tests the code only on the Linux environment. By testing the code on multiple OS, we could build an OS independant project.

**Describe the solution you'd like**
I'd like to add specific jobs for the os : windows and MacOS. Travis faces issues with windows installation (as python 3.6 is unstable for windows, as

[2020-04-21 15:25] radhikasethi2011 commented on #141
@vishakha-lall I'd like to work on this issue

[2020-04-21 17:59] chttrjeankr commented on #132
What queries are we trying to handle while dealing with the `Timezone API`?
I can think of the following examples:
- What is the time at `<PLACE>`?
- What time is it now at `<PLACE>`?
- Which timezone is `<PLACE>` located in?
- What is the timezone at `<PLACE>`?

Would you want to add on some more examples to this list? @vishakha-lall

[2020-04-22 03:29] vishakha-lall commented on #132
These look good, go ahead. As of now, I can't think of anymore.

[2020-04-22 04:53] #135 closed

[2020-04-22 08:26] chttrjeankr commented on #132
A minor blocker:
 - "_What time is it now at California?_"
 - "_What time is it now in California?_"

are being classified as a `C` (chat) by the `utilities.classify_sentence()` and thus leading to crashes in `databaseconnect.py`.

- "_What time is it now at New York?_"

Though, the above sentence is being classified as `Q` (question) correctly.

I'm planning to ignore tests of the misclassified s

[2020-04-22 15:10] chttrjeankr commented on #134
Would like to start working on this. @vishakha-lall

I plan to handle queries like:
* Show me a map of _place_name_
* How does _place_name_ look on a map?
* How does a bird see _place_name_? (maybe not :no_mouth:)

[2020-04-22 15:39] #77 closed

[2020-04-22 15:46] vishakha-lall commented on #134
Yes

Yes

What??? No 😆

Possibly something like Where is <place> on the map?

[2020-04-23 16:13] chttrjeankr opened #145 "Checking all kinds of queries for possible GMapsAPI calls"
**Describe the bug**
Currently, the code tries to check only the queries classified as `question` by the classifier. We've to make sure even `statement` and `chat` type queries receive correct answers if they contain something related to the GMaps API.

**To Reproduce**
Steps to reproduce the behaviour:
1. Ask the bot "What time is it now at California?" (ref: [this](https://github.com/vishakha-la

[2020-04-23 16:15] chttrjeankr commented on #145
I would like to work on a fix.

[2020-04-23 16:17] chttrjeankr commented on #134
Partially depends on #145 to be solved, as `Show me a map of _place_name_` type queries are not `question`s. Pausing work until it's resolved.

[2020-04-25 07:57] chttrjeankr commented on #145
Code changes for this issue would create serious merge conflicts in #144 as both will deal with `chatbot.py`. I'd request to wait for that one to be merged before I can create a PR for this issue.

[2020-04-26 07:09] #132 closed

[2020-04-27 07:13] #141 closed

[2020-04-27 07:17] #145 closed

[2020-04-27 07:18] vishakha-lall commented on #140
@salonipriyani What is the update on this?

[2020-04-27 07:19] vishakha-lall commented on #136
@darkmatter18 I have not received any updates here. Unassigning this issue.

[2020-04-27 07:20] vishakha-lall commented on #113
@gayathri-venu I have not received any updates from you. Unassigning this issue.

[2020-04-27 13:39] chttrjeankr commented on #136
Would like to take this up @vishakha-lall.

[2020-04-27 14:22] chttrjeankr commented on #136
I assume we are going to implement the Place Details request in this issue, right @vishakha-lall ?

`googleMapsApiModule.places()` returns just the id of the first place in the search list currently. Should we modify that?

[2020-04-27 14:30] vishakha-lall commented on #136
Yes, that should be enough for now.

[2020-04-27 15:14] chttrjeankr opened #148 "Change return values of googleMapsApiModule.places()"
**Is your feature request related to a problem? Please describe.**
Currently, the `googleMapsApiModule.places()` function returns only the place_id of the first place in the search results which doesn't help the user much.

**Describe the solution you'd like**
The user should get the names of the first `N` places (_`N` can be changed in the program by the developer_) with their corresponding URLs

[2020-04-27 19:59] Ruchika30 commented on #148
I would like to work on it . Kindly assign it to me  @chttrjeankr

[2020-04-27 20:17] chttrjeankr commented on #148
Hey @Ruchika30. Appreciate your enthusiasm! :tada: But unfortunately, I'm not a mentor here and this issue has already been assigned. Why dont you head over to the [Issues](https://github.com/vishakha-lall/MapBot/issues) page of the repository and check out the unassigned issues.

[2020-05-01 12:31] Rukmini-Meda commented on #113
@vishakha-lall I would like to work on this issue. Please assign this to me as part of GSSoC'20.

[2020-05-01 13:51] gayathri-venu commented on #113
Due to some technical constraints, I wasn't able to work on this issue.Please assign it to @Rukmini-Meda

[2020-05-01 14:01] #148 closed

[2020-05-01 14:02] #134 closed

[2020-05-01 14:12] vishakha-lall commented on #113
@Rukmini-Meda make sure you track your progress constantly.

[2020-05-01 20:24] chttrjeankr opened #151 "Need for test_chatbot.py"
**Is your feature request related to a problem? Please describe.**
The `chatbot.py` is and will be changed quite a lot while development. It's essential to keep a check on new changes by monitoring if everything works the way it should. Doing this each time manually can take time and also make it open to vulnerabilities.

**Describe the solution you'd like**
A program `test_chatbot.py` that can be

[2020-05-01 20:24] chttrjeankr commented on #151
Would like to take this up. @vishakha-lall

[2020-05-02 03:17] #136 closed

[2020-05-03 14:35] #151 closed

[2020-05-05 03:42] Rukmini-Meda commented on #113
Yes @vishakha-lall , I am working on it and will make a PR by tonight.

[2020-05-05 11:39] vishakha-lall opened #153 "Create suggestive questions for chatbot user"
**Is your feature request related to a problem? Please describe.**
This feature is an attempt to improve user experience. The idea is to replicate the experience as in case of popular apps like Swiggy and Zomato, where the user is suggested with some options (as click buttons) like See order details, or change contact information. The user then does not need to type the entire sentence.

**Describ

[2020-05-05 11:42] vishakha-lall opened #154 "Create supporting UI enhancements for suggestive questions"
**Is your feature request related to a problem? Please describe.**
This feature is an attempt to improve user experience. The idea is to replicate the experience as in case of popular apps like Swiggy and Zomato, where the user is suggested with some options (as click buttons) like See order details, or change contact information. The user then does not need to type the entire sentence.

**Describ

[2020-05-05 13:11] chttrjeankr commented on #153
Would like to take this up. @vishakha-lall

[2020-05-05 16:24] vishakha-lall opened #155 "Host the service in cloud"
**Is your feature request related to a problem? Please describe.**
Currently, the service needs to be started locally to test and use (or connect to the integrated apps). What would be a good solution to this is to have the application hosted on the cloud.

**Describe the solution you'd like**
- The hosting should be free (Heroku is one such platform, open to exploring more options too)
- The host

[2020-05-07 16:27] #153 closed

[2020-05-07 17:07] chttrjeankr commented on #154
Would like to start working on this :slightly_smiling_face:  @vishakha-lall

[2020-05-12 17:34] chttrjeankr opened #157 "File structuring and reformatting"
**Is your feature request related to a problem? Please describe.**
A thorough reformatting and structuring of HTML files supporting the web app are needed for a clean implementation of suggestive buttons and dependant JavaScript files.

**Describe the solution you'd like**
Maintain an overall structure of files with HTML separate from the JS part of the code.

**Describe alternatives you've consid

[2020-05-12 17:35] chttrjeankr commented on #157
Would like to create a PR regarding this before creating one for #154
@vishakha-lall

[2020-05-13 09:52] vishakha-lall commented on #113
@Rukmini-Meda what is the update on this?

[2020-05-13 11:10] Rukmini-Meda commented on #113
@vishakha-lall I am working on this. I will make a PR by tomorrow morning.

[2020-05-13 14:22] #157 closed

[2020-05-14 05:35] Rukmini-Meda commented on #113
@vishakha-lall While I am working on the cleardb file, I realized that there are a few errors in databaseconnect.py file in clear_table() and describe_table() methods. I discussed this with @chttrjeankr , he mentioned that there were bugs due to the last few commits on the file and helped with the same.
It's a minor bug in string formatting,  would you raise an issue for the same? I can grab it an

[2020-05-14 05:54] vishakha-lall commented on #113
Why don't you rectify it in the same issue and I bump up the difficulty of this issue.

[2020-05-14 06:08] Rukmini-Meda commented on #113
That's fine. I will rectify it and make a PR in a couple of hours.

[2020-05-14 07:21] chttrjeankr opened #160 "Suggestive buttons UI improvement"
**Is your feature request related to a problem? Please describe.**
The UI buttons have text boxes for following questions that do not disappear after getting results for that suggestive question. Also, since all buttons are horizontal they're meant to be looked at as diff branches to the suggestive option tree, in my opinion. So suggesting a view such that clicking on one button closes all the tex

[2020-05-14 07:37] #154 closed

[2020-05-14 09:43] #160 closed

[2020-05-14 14:09] chttrjeankr commented on #155
I think I'm prepared to take this up. @vishakha-lall

[2020-05-14 14:51] vishakha-lall commented on #155
I have assigned this to you @chttrjeankr, from my earlier experience you might face blockers in this and make sure you keep me in loop to create new issues to handle those.

[2020-05-14 15:18] chttrjeankr opened #163 "JS best practices"
**Describe the bug**
Some of the JavaScript code, unfortunately, contains some bad practices of JS. This was introduced in the some of the previous commits, and although they don't create errors it'd be good to have clean code and adopt good coding practices.

**Additional context**
Bad practices reported by Codacy

[2020-05-14 15:27] chttrjeankr commented on #155
Sure! Would keep you updated with research and available options. :slightly_smiling_face:

[2020-05-14 16:10] #163 closed

[2020-05-17 14:30] chttrjeankr opened #165 "Deployment using Docker."
**Is your feature request related to a problem? Please describe.**
Currently, Docker is used for development and testing. Using Docker as a deployment option would be more straightforward.

**Describe the solution you'd like**
Setting up using Docker steps would be:
  * Using `git clone` to clone the repository.
  * Setting up environment variables.
  * Using `docker-compose up` to set up and cont

[2020-05-17 14:31] chttrjeankr commented on #155
Would like to pause this issue until the following issues close:

- [x]  #165
- [x]  #167
- [x] #169
- [x] #170
- [x] #171
- [x] #175
- [x] #177
- [x] #178

[2020-05-18 16:42] #113 closed

[2020-05-18 16:45] #165 closed

[2020-05-19 14:12] Rukmini-Meda commented on #140
@vishakha-lall I would like to work on this issue. Can you please assign this to me as part of GSSoC'20?

[2020-05-19 14:29] vishakha-lall commented on #140
@Rukmini-Meda Please share your approach for this issue, what kind of normalisation would you be doing, where will you get the data to train the normalisation on?

[2020-05-20 15:15] chttrjeankr opened #167 "Use of spaCy instead of CoreNLP"
**Is your feature request related to a problem? Please describe.**
Using spaCy would let us do away with the Stanford CoreNLP dependency as well as the Java dependency for our deployment.

**Describe the solution you'd like**
Using [spaCy](https://spacy.io/) will enable us to reduce code as well as to skip downloading a [pre-requisite package](https://stanfordnlp.github.io/CoreNLP/download.html) o

[2020-05-21 07:06] chttrjeankr opened #169 "Handling location names with spaCy's NER"
**Is your feature request related to a problem? Please describe.**
A complex logic involving compound dependencies and proper nouns is set up to filter out location names from the query. Can turn out to be not very accurate when using long sentences that uses multiple nouns.

**Describe the solution you'd like**
Using proper nouns to parse location names from the query would be replaced by Named E

[2020-05-21 07:14] chttrjeankr opened #170 "Documentation and dependency changes"
**Is your feature request related to a problem? Please describe.**
To shift from CoreNLP to spaCy would require multiple changes in documentation and project set-up dependencies

**Describe the solution you'd like**
Changes would include:
  * Documentation changes in how to set-up the project
  * Removing outdated environment variables
  * Updating `requirements.txt`
  * Updating `.gitignore`

**D

[2020-05-21 07:20] chttrjeankr opened #171 "Docker deployment based on spaCy"
**Is your feature request related to a problem? Please describe.**
Docker deployment shouldn't be based on CoreNLP as a dependency

**Describe the solution you'd like**
Changes would include:
  * Updation in `docker.env`
  * Removing `java_storage` container
  * Updating `docker-entrypoint.sh` to not download CoreNLP
  * Updating `Dockerfile` to stay minimal

**Describe alternatives you've conside

[2020-05-21 09:55] #167 closed

[2020-05-22 07:45] chttrjeankr opened #175 "pytests and Travis CI concerns"
**Is your feature request related to a problem? Please describe.**
`test_utilities.test_parse_sentence()` is being skipped right now as it was dependent on CoreNLP.

**Describe the solution you'd like**
Some minor changes in the `test_` files to test `utilities.parse_sentence()`, and a couple in the code to make sure Travis checks pass successfully.

**Describe alternatives you've considered**
Non

[2020-05-23 13:56] chttrjeankr commented on #171
Fixed by #174

[2020-05-23 13:56] #171 closed

[2020-05-23 13:56] chttrjeankr commented on #170
FIxed by #173

[2020-05-23 13:56] #170 closed

[2020-05-23 13:58] chttrjeankr commented on #169
Fixed by #172

[2020-05-23 13:58] #169 closed

[2020-05-23 16:18] chttrjeankr commented on #175
Fixed by #176

[2020-05-23 16:18] #175 closed

[2020-05-24 09:15] chttrjeankr opened #177 "Shifting to PostgreSQL"
**Is your feature request related to a problem? Please describe.**
When deploying on Heroku, PostgreSQL seems to be the best option as it's [supported](https://devcenter.heroku.com/categories/data-management) by Heroku

**Describe the solution you'd like**
  * The module `mysql-connector-python` and its usage needs to be replaced by `psycopg2` and necessary changes in SQL syntax and Python code ne

[2020-05-24 09:15] chttrjeankr opened #178 "Travis CI for PostgreSQL"
**Is your feature request related to a problem? Please describe.**
After shifting to PostgreSQL, `.travis.yml` needs to be updated.

**Describe the solution you'd like**
Remove `mysql` as a service and add `postgresql` for `test_databaseconnect.py`

**Describe alternatives you've considered**
None

**Additional context**
[PostgreSQL on Travis CI](https://docs.travis-ci.com/user/database-setup/#pos

[2020-05-24 16:13] #177 closed

[2020-05-25 14:33] #178 closed

[2020-05-25 16:08] vishakha-lall commented on #155
[Deployed](https://christopher-mapbot.herokuapp.com/)

[2020-05-25 16:08] #155 closed

[2020-05-25 18:28] chttrjeankr opened #182 "Updating Docker setup for PostgreSQL"
**Describe the bug**
`docker-compose.yml` still creates a MySQL container whereas a PostgreSQL container is needed.

**To Reproduce**
Steps to reproduce the behaviour: (in `cloud_hosting` branch)
 *  Running `docker-compose up` leads to errors

**Expected behaviour**
  * `docker-compose up` should run smoothly

**Changes needed:**
  * New `postgresql` container to be introduced and `mysql` contain

[2020-05-26 04:48] #182 closed

[2020-05-26 08:19] shreyanshi2228 commented on #140
Is it like gathering data for some common abbreviations?

[2020-05-26 16:01] chttrjeankr opened #184 "Telegram bot hosted on cloud"
**Is your feature request related to a problem? Please describe.**
The telegram bot to converse with the MapBot logic gets online only when a user creates a bot, provides a token and starts up `python telegram.py`. This isn't available to all users for use.

**Describe the solution you'd like**
A new process defined in the Procfile for Heroku, which shall start up the `telegram.py` on Heroku and h

[2020-05-26 16:22] shreyanshi2228 commented on #140
https://github.com/npuliyang/Microtext_Normalization
Will it work?

[2020-05-26 16:39] chttrjeankr commented on #184
Bot hosted on [Telegram](http://t.me/ChristopherMapbot)

[2020-05-26 16:39] #184 closed

[2020-05-27 05:59] chttrjeankr opened #186 "Telegram bot slash commands"
**Describe the bug**
Telegram has `/slash` commandsto `/start` the bot and get a description with `/about`. These do not currently work and they're treated as queries to the MapBot and hence return semantically wrong results.

**To Reproduce**
Steps to reproduce the behavior:
  * Starting the conversation with the bot with `/start` command sends it to the Places API to find a place named `/start`.

[2020-05-27 06:06] vishakha-lall commented on #140
@shreyanshi2228 Please elaborate on how you plan to use the shared resource with respect to the requirements of this project. Abbreviations to common cities and locations would be more relevant to this project.

[2020-05-27 06:10] chttrjeankr opened #188 "Documentation changes to update Heroku links"
**Is your feature request related to a problem? Please describe.**
Links to the Telegram bot and Heroku app needs to be added to the documentation and the ways to use them need to be documented in the setup instructions in `README.md`

**Describe the solution you'd like**
Setup instructions to use the UI and Telegram bot

**Describe alternatives you've considered**
None

**Additional context**
Non

[2020-05-27 06:21] chttrjeankr commented on #186
Fixed by #187

[2020-05-27 06:21] #186 closed

[2020-05-27 06:33] #188 closed

[2020-05-28 10:16] chttrjeankr opened #190 "Telegram webhook support"
**Is your feature request related to a problem? Please describe.**
Webhook integration would make sure the bot doesn't need to be woken up before being talked to, and also make sure that the program does not create requests to the telegram server repeatedly every 0.5 seconds to check for new updates in the bot.

**Describe the solution you'd like**
  * `telegram` process in the Heroku isn't needed

[2020-05-28 12:45] #190 closed

[2020-05-28 13:08] chttrjeankr opened #192 "Facebook bot hosted on cloud"
**Is your feature request related to a problem? Please describe.**
The Facebook Messenger bot for MapBot isn't hosted on the cloud and can not be accessed by users without running `python app.py`

**Describe the solution you'd like**
Would work just like the Telegram bot (#184 and #190)

**Describe alternatives you've considered**
None

**Additional context**
Refactoring code from `app.py` and kee

[2020-05-28 20:36] chttrjeankr opened #194 "Clean code base after Messenger bot deployment"
**Is your feature request related to a problem? Please describe.**
Code needs to be refactored after Messenger Bot was deployed on cloud (#193)

**Describe the solution you'd like**
  * Update documentation
  * Remove dependencies from `requirements.txt`
  * Remove redundant code from `app.py`

**Describe alternatives you've considered**
N/A

**Additional context**
None

[2020-05-29 05:21] #192 closed

[2020-05-29 05:21] #194 closed

[2020-05-30 04:40] chttrjeankr opened #196 "databaseconnect.describe_table() not working"
**Describe the bug**
![Screenshot from 2020-05-30 00-19-28](https://user-images.githubusercontent.com/39518771/83319554-3995d380-a25d-11ea-8152-388c618aa95c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. `python cleardb.py`
2. Choose any option.
3. Describing table creates an SQL syntax error.

**Expected behavior**
Tables should be cleared without errors

**Additional context**
Postgr

[2020-05-30 06:49] chttrjeankr opened #198 "Heroku build log error"
**Describe the bug**
Heroku build logs for the bot shows this error.
![image](https://user-images.githubusercontent.com/39518771/83321763-8e424a00-a26f-11ea-80df-f56ab8734648.png)

**Expected behavior**
Everything works as expected (for now), but the NLTK corpora are not being downloaded as they should.

**Additional context**
[Using NLTK Data with Heroku Python](https://devcenter.heroku.com/artic

[2020-05-30 08:21] chttrjeankr commented on #196
Fixed in #197

[2020-05-30 08:21] #196 closed

[2020-05-30 09:38] chttrjeankr commented on #198
Fixed in #199

[2020-05-30 09:38] #198 closed

[2020-05-30 14:32] shreyanshi2228 commented on #53
https://github.com/hellohaptik/haptik_open_datasets/blob/master/domain_classification/test_data.csv
I guess we want this for this issue.
**Can I work on this issue.**

[2020-05-30 14:59] vishakha-lall commented on #53
@shreyanshi2228 while the link is interesting, the idea of using crowd sourcing was so we could concentrate on the intent of the bot (which is navigation related). Do you think you would be able to crowd source the data?

[2020-06-07 08:18] chttrjeankr opened #200 "Messenger Bot chat messages"
**Describe the bug**
The Messenger Bot doesn't handle chat texts which are out of scope for MapBot. Neither are any error messages passed to the user to understand what is to be done.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Messenger Bot](http://m.me/christophermapbot)
2. Send "Hello" or any emoji
3. Replies are vague and meaningless.

**Expected behavior**
One worded texts ca

[2020-06-14 08:17] chttrjeankr opened #201 "Create LICENSE.md"

[2020-06-18 04:11] chttrjeankr opened #202 "Dealing with the API key in mapsstatic()"
**Describe the bug**
Dealing with the API key and sending the correct response is not very secure.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the Static Maps API by querying for "Show me a map of ..."
2. Result returned is an URL which exposes the API key

**Expected behavior**
Probably the best alternative would be to return an image when such a query happens. Or an embedded map.

[2020-07-08 10:32] Engineervinay commented on #201
hey @chttrjeankr , I created LICENSE.md file. Can you review it?

[2020-07-17 07:54] chttrjeankr commented on #201
Hey @Engineervinay. I don't have merge access; @vishakha-lall does. It's her call to check if the MIT LICENSE is what she thinks should be added to this repository.

[2020-07-17 15:23] #201 closed

[2021-03-01 15:36] advian123 opened #204 "Setup issues"
While establishing my setup, I am struggling to setup the .env file. It will help me a lot if anyone can help?

[2021-05-15 12:15] harshakhmk commented on #202
If the issue still needs to be addressed, can I work on this